@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Kaushan+Script&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Brawler:wght@400;700&family=Croissant+One&family=Ephesis&family=Gloock&family=Hurricane&family=Imbue:opsz,wght@10..100,100..900&family=Modak&family=Montez&family=Prosto+One&family=Rye&family=Shojumaru&family=Young+Serif&family=ZCOOL+XiaoWei&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:wght@400;500;600&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    font-family: inherit;
    border: 0px solid transparent;
    outline: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

button:focus-visible,
a:focus-visible {
    outline: 1px solid #fff;
}

img {
    width: 100%;
}

.svg {
    /* display: none; */
    position: absolute;
    width: 0;
    height: 0;
}

.mask-1 {
    clip-path: url("#mask-1");
}

.mask-2 {
    clip-path: url("#mask-2");
}

.mask-3 {
    clip-path: url("#mask-3");
}

.mask-4 {
    clip-path: url("#mask-4");
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    /* min-height: 100vh; */
    /* color: #fff; */
    color: #222;
    font-family: "Roboto", sans-serif;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Limelight', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Lemon', cursive;
    font-family: "Lora", serif;
    font-family: "Croissant One", serif;
    font-family: "Shojumaru", system-ui;
    font-family: "Montez", cursive;
    font-family: "Modak", system-ui;
    font-family: "Prosto One", sans-serif;
    font-family: "Young Serif", serif;
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-family: "Brawler", serif;
    font-family: "Gloock", serif;
    font-family: "Ephesis", cursive;
    font-family: "Platypi", serif;
    font-family: "Patua One", serif;
    font-family: "Rye", serif;
    font-family: "Arizonia", cursive;
    font-family: "Imbue", serif;
    font-family: 'Kaushan Script', cursive;
    font-family: "Hurricane", cursive;
    font-family: Georgia, serif;
    /* background-color: #080a0c; */
}

header {
    max-width: 1600px;
    margin: auto;
    padding: 1rem 2%;
    display: flex;
    gap: 0.5rem 2%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: #0bdddd; */
    background-color: #00b8db;
    box-shadow: 0px 3px 6px #0005;
    position: relative;
    z-index: 1;
}

.logo {
    color: #111;
    font-size: 1.2rem;
    font-weight: bold;
}

.logo:hover {
    color: #444;
}

nav li {
    position: relative;
    display: inline-block;
    margin: 0.5rem 1rem;
}

header nav ul li a {
    padding: 0.4em;
    color: #111;
    font-size: 1rem;
    font-weight: normal;
}

header nav li::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #111;
    transform: scale(0);
    transition: all 300ms;
}

header nav li:hover:after {
    transform: scale(1);
}

header button {
    padding: 0.8em 1.6em;
    color: #111;
    border-radius: 2em;
    font-weight: bold;
    /* background-color: cyan; */
    background-color: #00b8db;
    box-shadow: 1px 1px 1px #0005, 
            -1px -1px 1px #fff8;
    transition: color 300ms, 
    background-color 300ms;
}

header button:hover {
    color: #fff;
    /* background-color: rgb(12, 207, 207); */
    background-color: #007595;
}

.hero {
    position: relative;
    max-width: 1600px;
    margin: auto;
    padding-top: 5rem;
    text-align: center;
    border-radius: 0 0 300px 300px;
    /* background-color: #0bdddd; */
    filter: drop-shadow(3px 3px 3px #0008) 
        drop-shadow(-1px -1px 1px #fff);
}

.hero::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    /* background-color: #0bdddd; */
    background-color: #00b8db;
    /* clip-path: url("#mask-1"); */
    /* clip-path: url("#mask-2"); */
    /* clip-path: url("#mask-3"); */
    clip-path: url("#mask-4");
    z-index: -1;
}

h1 {
    font-size: 5rem;
    /* text-align: center; */
    color: transparent;
    -webkit-text-stroke: 2px #000;
}

.hero-img {
    max-width: 1000px;
    /* margin: auto; */
    aspect-ratio: 2/1.6;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px #000) 
        drop-shadow(-5px -5px 5px #fff);
}

.search-bar {
    max-width: 1600px;
    margin: auto;
}

.form {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.field {
    flex: 1;
    max-width: 400px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(199, 194, 194);
    box-shadow: inset 1px 1px 1px #0005, 
              inset -1px -1px 1px #fff;
}

.field i {
    padding: 0.2em 0.4em;
    font-size: 2rem;
    color: #00b8db;
    filter: drop-shadow(1px 1px 1px #000) 
        drop-shadow(-1px -1px 1px #fff);
}

.options p {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.options select {
    padding: 0.2rem;
    font-size: 1.04rem;
    font-family: inherit;
    background-color: transparent;
    border: none;
}

.search-bar button {
    margin: auto 0;
    padding: 0.6rem 1.2rem;
    font-size: 0px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #00b8db;
    /* transition: all 0.3s; */
    transition: background-color 300ms;
}

.search-bar button:focus-visible {
    /* border: 1px solid #fff; */
    outline: 2px solid #007595;
}

.search-bar button:hover {
    background-color: #007595;
}

.search-bar button i {
    font-size: 2rem;
    color: #fff;
    /* filter: drop-shadow(1px 1px 1px #000) drop-shadow(-1px -1px 1px #fff); */
}

.estates {
    max-width: 1600px;
    margin: auto;
    padding: 5rem 1rem;
}

.estates-header {
    max-width: 1100px;
    margin: auto;
    padding: 1rem 2% 3rem;
    text-align: center;
}

.estates-header h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.estates-header p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.estates-body {
    display: grid;
    gap: 2rem 2%;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.estate {
    padding: 2%;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #0005;
}

.image {
    /* object-fit: cover; */
    clip-path: url("#mask-1");
    /* clip-path: url("#mask-2"); */
    /* clip-path: url("#mask-3"); */
    /* clip-path: url("#mask-4"); */
    /* transition: transform 400ms; */
    overflow: hidden;
}

.estate .image img {
    aspect-ratio: 490/325;
    object-fit: cover;
    /* clip-path: url("#mask-1"); */
    /* clip-path: url("#mask-2"); */
    /* clip-path: url("#mask-3"); */
    /* clip-path: url("#mask-4"); */
    transition: transform 400ms;
}

.estate:hover img {
    transform: scale(1.1);
}

.estate-info {
    padding: 1rem 4%;
}

.country {
    padding-bottom: 1em;
    color: #999;
}

.name {
    font-size: 1.2rem;
    color: #222;
}

.name a {
    color: inherit;
}

.price {
    margin: 0.5rem 0 0.6rem;
    color: #00b8db;
    font-size: 1.4rem;
    font-weight: bold;
}

.features {
    display: flex;
    gap: 10%;
    /* justify-content: space-between; */
}

.mission {
    max-width: 1200px;
    margin: auto;
    /* display: flex; */
    /* gap: 2%; */
    /* align-items: center; */
    /* text-align: center; */
}


.mission .text {
    max-width: 600px;
    margin: auto;
}

.mission .text p {
    margin: 1rem 0;
}

@media screen and (max-width: 940px) {
    .mission {
        padding: 0 5%;
        text-align: center;
    }

    .mission .image {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 940px) {
    .mission {
        padding: 1rem;
        display: flex;
        gap: 2%;
        align-items: center;
    }

    .mission .image {
        flex: 1.5;
    }

    .mission .text {
        flex: 1;
    }
}

.mission button {
    padding: 0.8em 1.4em;
    color: #fff;
    font-weight: bold;
    border-radius: 2em;
    background-color: #00b8db;
    box-shadow: 2px 2px 4px #0005;
    transition: background-color 400ms;
}

.mission button:hover {
    background-color: #007595;
}