.nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    /* right: 0; */
    bottom: 20px;
    /* width: 230px; */
    padding: 1.2rem 3rem;
    /* margin: auto; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 2em;
    backdrop-filter: blur(4px);
    background-color: #07070a;
    box-shadow: 1px 1px 1px #000, 
            -1px -1px 1px #fff2;
    z-index: 50;
}

.nav ul {
    display: flex;
    gap: 25px;
    font-weight: 600;
}

@media (max-width: 480px){
    .nav {
        width: 200px;
        margin-left: 50px;
        z-index: 100;
    }
}