.how {
    padding: 5rem 20px;
    text-align: center;
}

.how h2 {
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.steps {
    /* margin: 40px 0; */
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: center;
}

.step {
    flex: 1;
    max-width: 380px;
    /* margin: 40px; */
    text-align: center;
}

.step .bg {
    position: relative;
    /* border: 1px solid red; */
    /* display: inline-block; */
    /* width: 30px; */
    /* height: 30px; */
    /* margin-bottom: 1rem; */
    /* padding: 0.6rem 1.1rem; */
    /* border-radius: 50%; */
    /* background-color: #159740; */
    z-index: -1;
}

.step .bg::after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 100%;
    border-bottom: 4px dashed #fff;
    z-index: -1;
}

.step:first-child .bg::after, 
.step:last-child .bg::after {
    width: 50%;
    /* border: 1px solid green; */
}

.step:first-child .bg::after {
    right: 0;
    margin-left: auto;
}

.step .bg span {
    display: inline-block;
    padding: 0.6rem 1.1rem;
    font-size: 26px;
    font-weight: bold;
    border-radius: 50%;
    outline: 8px solid #080a0c;
    background-color: #159740;
}

.step h2 {
    margin: 1rem 0;
    padding: 16px 40px 0;
    font-size: 2rem;
}

.step p {
    /* margin-bottom: 40px; */
    padding: 0 40px;
    color: #666;
    font-size: 1.2rem;
    /* font-size: 1rem; */
}