.partners {
    padding: 3rem 2% 0;
    background-color: #f9f9f9;
}

.partners-header {
    color: #043927;
    font-size: 32px;
    text-align: center;
}

.logos {
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.partner-logo {
    max-width: 180px;
}