.feedback {
    max-width: 1400px;
    margin: auto;
    /* height: 25vh; */
    padding: 5rem 1rem;
}

.feedback h5,
.feedback h3 {
    text-align: center;
}

.feedback h5 {
    font-size: 20px;
}

.feedback h3 {
    max-width: 700px;
    /* margin-top: 15px; */
    margin: 1rem auto 0;
    font-size: 35px;
}

.feedback .customers {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}

.feedback .customers .item {
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.feedback .customers .item .user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.feedback .customers .item .user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .customers .item .user h5 {
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
}

.feedback .customers .item .user p {
    font-size: 12px;
}

.feedback .customers .item .comment {
    color: gold;
}

@media screen and (max-width: 480px) {
    .feedback {
        margin-top: 20px;
        padding: 5px 45px;
    }

    .feedback h5, 
    .feedback h3 {
        text-align: left;
    }

    .feedback h5 {
        font-size: 16px;
    }

    .feedback h3 {
        font-size: 18px;
        color: #666;
    }

    .feedback .customers {
        flex-direction: column;
    }

    .feedback .customers .item {
        padding: 10px;
    }

    .feedback .customers .item p {
        font-size: 12px;
        margin-top: -10px;
    }

    .feedback .customers .item .comment h2 {
        font-size: 12px;
    }
}

/* .course.edukative-course-details {
    padding: 6rem 2%;
}

.edukative-details-header {
    display: flex;
    gap: 2rem;
}

.edukative-details-image, 
.edukative-details-text {
    flex: 1;
}

.edukative-details-header .edukative-details-image img {
    max-width: 700px;
    height: 450px;
    object-fit: cover;
}

.edukative-details-text h1 {
    margin-bottom: 15px;
    font-size: 36px;
}

.edukative-details-text .edukative-details-desc {
    margin-bottom: 15px;
    color: #666;
    font-size: 18px;
}

.edukative-details-text .edukative-details-lang {
    margin-bottom: 20px;
    color: #666;
}

.edukative-details-text .edukative-details-date {
    margin-top: 10px;
    font-weight: 600;
}

.edukative-details-text .edukative-details-price {
    font-size: 28px;
}

.edukative-course-details button {
    margin-top: 1.6rem;
    padding: 16px 32px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 15px;
    background-color: rgb(0, 195, 255);
    transition: color 400ms ease, 
    background-color 400ms ease;
}

.edukative-course-details button:hover {
    color: rgb(0, 195, 255);
    background-color: transparent;
} */