.home {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2%;
    /* position: relative; */
    /* height: 100vh; */
    /* padding-inline: 100px; */
}

.main {
    padding: 10rem 0;
    display: flex;
    align-items: center;
}

.text {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    /* width: 60%; */
    /* display: flex; */
    /* flex-direction: column; */
}

.text h1 {
    font-size: 90px;
}

.text h1 span {
    /* display: block; */
}

.text p {
    /* width: 90%; */
    font-size: 18px;
    margin: 2rem 0 3rem;
}

.text button {
    padding: 0.5em 1em;
    /* width: 170px; */
    /* height: 50px; */
    /* margin-top: 30px; */
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background-color: orangered;
}

.image {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin-right: auto;
}

.image img {
    position: relative;
    /* top: 10px; */
    /* width: 550px; */
    /* height: 600px; */
    z-index: 1;
}

.circle {
    position: absolute;
    /* top: 30%; */
    top: 10%;
    left: 10%;
    /* left: 730px; */
    /* content: ''; */
    /* width: 400px; */
    width: 80%;
    /* height: 400px; */
    height: 80%;
    border-radius: 50%;
    /* background-color: rgb(255, 208, 0); */
    background-color: #582a13;
}

.spark-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height:100%;
}

.spark-container > div  {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
}

.spark-container > div > img {
    width: 120px;
    height: 120px;
}

.spark-container > div:nth-child(1) {
    top: 150px;
    right: 50px;
}

.spark-container > div:nth-child(2) {
    top: 300px;
    right: 600px;
}

.spark-container > div:nth-child(3) {
    top: 30px;
    right: 500px;
}

.spark-container > div:nth-child(4) {
    top: 80px;
    left: 350px;
}

.spark-container > div:nth-child(5) {
    top: 550px;
    right: 600px;
}

.info {
    /* color: white; */
    /* color: #222; */
    /* width: 100%; */
    /* height: 120px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: space-around; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* background-color: rgba(0, 0, 0, 0.925); */
    /* background-color: #fff; */
    text-align: center;
}

.details {
    padding: 2rem;
    border: 1px solid #666;
}