.home {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2%;
}

.main {
    padding: 10rem 0;
    display: flex;
    align-items: center;
}

.text {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
}

.text h1 {
    font-size: 90px;
}

.text p {
    font-size: 18px;
    margin: 2rem 0 3rem;
}

.text button {
    padding: 0.5em 1em;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background-color: orangered;
}

.image {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin-right: auto;
}

.image img {
    position: relative;
    z-index: 1;
}

.circle {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #582a13;
}

.spark-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height:100%;
}

.spark-container > div  {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 36px;
    /* width: 20px; */
    /* height: 20px; */
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5); */
    backdrop-filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.5));
    /* filter: drop-shadow(rgba); */
}

.spark-container > div > img {
    /* width: 100%; */
    /* height: 120px; */
}

.spark-container > div:nth-child(1) {
    top: 150px;
    right: 50px;
}

.spark-container > div:nth-child(2) {
    top: 300px;
    right: 600px;
}

.spark-container > div:nth-child(3) {
    top: 30px;
    right: 500px;
}

.spark-container > div:nth-child(4) {
    top: 80px;
    left: 350px;
}

.spark-container > div:nth-child(5) {
    top: 550px;
    right: 600px;
}

.info {
    display: grid;
    gap: 1rem;
    grid-template-columns: 
        repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
}

.details {
    padding: 2rem;
    border: 1px solid #666;
}