.bestiary .header-content .image img {
    transform: rotateY(180deg);
}

.creature .main-article .article-content {
    max-width: 700px;
}

.creature .main-article .article-image {
    flex: 1;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .page-content.creature .main-article {
        flex-direction: column-reverse;
    }

    .creature .main-article .article-content {
        margin-right: auto;
    }

    .creature .main-article .article-image {
        margin: auto;
    }
}