.services {
    max-width: 1400px;
    /* height: 70vh; */
    margin: auto;
    padding: 5rem 0;
}

.service-header, 
.text {
    text-align: center;
}

.text {
    max-width: 600px;
    margin: 1rem auto 0;
    font-size: 18px;
}

.service-header {
    font-size: 35px;
    margin-bottom: 5px;
}

.service-container {
    /* height: 60vh; */
    margin-top: 60px;
    padding-inline: 150px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.service-list {
    /* height: 280px; */
    /* padding-top: 30px; */
    /* padding-inline: 30px; */
    padding: 30px;
    border-radius: 10px;
    /* border: 1px solid #000; */
    border: 1px solid #fff4;
}

.service-list:hover {
    color: #fff;
    background-color: #000;
}

.service-list:nth-child(1) {
    color: #fff;
    background-color: #000;
}

.service-list:nth-child(1):hover {
    color: #000;
    background-color: #f9f9f9;
}

.service-list .service-icon {
    display: inline-block;
    /* width: 35px; */
    /* height: 30px; */
    margin-bottom: 1rem;
    padding: 0.6rem 0.8rem;
    border-radius: 10px;
    background-color: #000;
}

.service-list .service-icon .icon {
    margin-top: -1.5px;
    color: #fff;
    font-size: 2rem;
}

.service-list h2 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
}

.service-list p {
    margin-top: 20px;
    font-size: 16px;
}

.service-list .action {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    /* align-items: center; */
}

.service-list .action span {
    /* margin-top: 15px; */
    margin-top: auto;
    font-size: 1.6rem;
}

@media screen and (max-width: 480px) {
    .services .service-header {
        font-size: 25px;
        text-align: center;
    }

    .service-container {
        padding-inline: 30px;
        grid-template-columns: 1fr;
    }
    
    .service-list .action {
        margin-top: -10px;
    }
}

/* .e-learning-edukative .edukative-instructor-section {
    max-width: 1600px;
    margin: auto;
    padding: 5rem 2%;
    display: flex;
    gap: 3rem 5%;
}

.e-learning-edukative .edukative-instructor {
    flex: 1;
    max-width: 400px;
    margin: 0 auto;
}

.e-learning-edukative .edukative-instructor-text {
    flex: 1;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.e-learning-edukative .edukative-instructor-text h2 {
    font-size: 50px;
}

.e-learning-edukative .edukative-instructor-text p {
    font-size: 20px;
}

.e-learning-edukative .edukative-instructor-text button {
    margin-top: 1rem;
    margin-right: auto;
    padding: 1rem 2rem;
    color: #1fcbff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 36px;
    border: 2px solid #1fcbff;
    transition: color 400ms ease, 
    background-color 400ms ease;
}

.e-learning-edukative .edukative-instructor-text button:hover {
    color: #000;
    background-color: #1fcbff;
}

@media screen and (max-width: 1050px) {
    .e-learning-edukative .edukative-instructor-section {
        flex-direction: column;
    }
}

@media screen and (max-width: 680px) {
    .e-learning-edukative .edukative-instructor-text {
        text-align: center;
    }

    .e-learning-edukative .edukative-instructor-text h2 {
        font-size: 35px;
    }

    .e-learning-edukative .edukative-instructor-text p {
        font-size: 18px;
    }

    .e-learning-edukative .edukative-instructor-text button {
        margin: 1rem auto 0;
        color: #fff;
        background-color: #1fcbff;
    }
} */