.overview-page {
    /* background-color: white; */
    /* background-image: url("./img/skyrim-3840x2400.jpg"); */
    background-image: url("/skyrim/overview/skyrim-the-dovahkiin.jpg");
    /* background-image: url("./img/00test/skyrim-desktop-fk3ej1t9csqkmqm7.webp"); */
    /* background-image: url("./img/3823088-copy.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/* .overview-page main { */
    /* max-width: 1600px; */
    /* margin: auto; */
/* } */

.overview-page .header-content {
    max-width: 1300px;
    padding: 3rem 2%;
}

.middle-section {
    position: relative;
    max-width: 1600px;
    margin: auto;
    padding: 4rem 2%;
    color: #fff;
    text-align: center;
    /* background-color: #060612; */
    background-color: transparent;
    isolation: isolate;
}

.middle-section::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #060612;
    clip-path: url("#mask-1");
    z-index: -1;
}

.middle-section h2 span {
    display: block;
    /* width: 90%; */
    /* margin: auto; */
    /* padding: 1em 0; */
    color: transparent;
    font-size: 4rem;
    line-height: 1;
    /* text-transform: capitalize; */
    /* border: 1px solid burlywood; */
    background: linear-gradient(0deg, rgb(174 144 46), rgb(255, 232, 155), rgb(174, 144, 46));
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: text;
    background-clip: text;
}

.inner-middle-section {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    /* padding: 4rem 0; */
    display: flex;
    gap: 2rem;
    border: 1px solid burlywood;
    /* background-color: #fff; */
}

.inner-middle-section .text {
    max-width: 550px;
    margin: auto;
    padding: min(3vw, 3rem);
}

.inner-middle-section .image {
    max-width: 450px;
    margin: auto;
}

.inner-middle-section .image img {
    /* clip-path: url("#mask-1"); */
    clip-path: url("#mask-2");
    /* clip-path: url("#mask-3"); */
    /* clip-path: url("#mask-4"); */
}

.overview-page .section {
    position: relative;
    min-height: 102vh;
    padding: 10rem 2%;
    display: flex;
    /* background-color: transparent; */
    /* background-image: none; */
    isolation: isolate;
}

.overview-page .section::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    clip-path: url("#mask-1");
    z-index: -1;
}

.overview-page .section::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    /* background-color: #000; */
    /* background-image: url('./img/bg/locations-page-bg.jpg'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: url("#mask-1");
    z-index: -2;
}

.inner {
    width: 100%;
    /* min-height: 102vh; */
    margin: auto 0;
    padding: 1rem 0;
    /* display: flex; */
    /* gap: 10%; */
    /* background: rgba(0, 0, 0, 0.3); */
    /* align-items: center; */
    /* justify-content: space-around; */
}

.inner-section {
    /* flex: 1; */
    /* width: 100%; */
    /* min-height: 100vh; */
    /* margin: auto; */
}

.inner-section h2,
.inner-section a {
    position: relative;
    display: flex;
    align-items: center;
}

.inner-section h2 {
    border: 10px solid red;
    background-color: red;
}

.inner-section h2::before,
.inner-section h2::after {
    flex-shrink: 0;
    content: '';
    width: 12px;
    height: 12px;
    /* margin: 0px 10px; */
    border: 2px solid burlywood;
    transform: rotate(45deg);
}

.inner-section h2::before {
    margin-right: 12px;
}

.inner-section h2::after {
    margin-left: 12px;
}

.inner-section a::before,
.inner-section a::after {
    flex-shrink: 0;
    content: '';
    width: 12px;
    height: 12px;
    /* margin: 0px 10px; */
    border: 2px solid burlywood;
    transform: rotate(45deg);
}

.inner-section a::before {
    margin-right: 12px;
}

.inner-section a::after {
    margin-left: 12px;
}

.inner-section img {
    display: block;
    /* max-width: 320px; */
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .inner-section img {
        max-width: 540px;
    }
}

@media (min-width: 1000px) {
    .inner {
        display: flex;
        gap: 10%;
    }
}

.inner-section .title h2,
.inner-section .title a {
    color: transparent;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    background:
        linear-gradient(0deg,
            rgb(174 144 46),
            rgb(255, 232, 155),
            rgb(174, 144, 46));
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    transition: 1s;
}

/* .inner-section .title h2:hover {
      transform: scale(1.1);
  } */

.inner-section .title {
    /* width: 100%; */
    /* height: auto; */
    /* justify-content: space-around; */
}

.inner-section .title img {
    max-width: 55px;
    opacity: 0;
    transition: opacity 1s;
}

.inner-section .title:hover img {
    opacity: 1;
}

.ornament-left {
    transform: rotateY(180deg);
}

#section-1 {
    /* position: relative; */
    /* background-color: #000; */
    /* background-image: url('./img/bg/locations-page-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* animation: scale 5s linear; */
}

#section-1 {
    padding: 10rem 10%;
    /* position: relative; */
    /* background-color: transparent; */
    /* background-image: none; */
    /* isolation: isolate; */
}

#section-1::after {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* content: ""; */
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: #000; */
    background-image: url('/skyrim/overview/bg/locations-page-bg.jpg');
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    /* clip-path: url("#mask-1"); */
    /* z-index: -1; */
}

#section-1 .inner {
    padding-bottom: 5rem;
}

#skyrim-history-section {
    /* position: absolute; */
    /* left: 40px; */
    /* bottom: 10%; */
    /* max-width: 50%; */
    max-width: 1000px;
    /* min-width: 290px; */
    /* margin: 15rem 0 auto 4vw; */
    /* margin: auto 0; */
    padding: 48px 40px;
    /* height: 70vh; */
    /* font-family: initial; */
    color: #fff;
    font-size: 18px;
    text-indent: 12px;
    border-radius: 20px;
    background: url('/skyrim/overview/border_patterns_03_preview-copyhw.png'),
        url('/skyrim/overview/border_patterns_03_preview-copyvw.png'),
        url('/skyrim/overview/border_patterns_03_preview-copyvw.png'),
        url('/skyrim/overview/border_patterns_03_preview-copyhw.png');
    background-size: 290px, 20px, 20px, 290px;
    background-repeat: repeat-x, repeat-y, repeat-y, repeat-x;
    background-position: top, left, right, bottom;
}

#skyrim-history-section p {
    margin-bottom: 8px;
}

@media screen and (max-width: 900px) {
    #skyrim-history-section {
        max-width: 96%;
        margin: 5rem auto auto;
    }
}

#section-2::after {
    /* position: relative; */
    /* background-color: #000; */
    background-image: url('/skyrim/overview/bg/games-the-elder-scrolls-v-skyrim-39367-copy.jpg');
    /* background-attachment: fixed;     */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    /* animation: scale 5s linear; */
}

.locations {
    /* max-width: 300px; */
    /* flex-direction: column; */
}

.overview-page .inner-section {
    flex: 1;
    /* max-width: 400px; */
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .overview-page .magic-schools, 
    .overview-page .locations {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1000px) {
    .overview-page .inner-section {
        max-width: 30%;
    }
}

#section-3::after {
    /* position: relative; */
    /* background-color: #000; */
    background-image: url('/skyrim/overview/bg/games-the-elder-scrolls-v-skyrim-55851b-copy.jpg');
    /* background: url('../assets/img/00test/00tits/Victoria6-Linia-copy.png'); */
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* animation: scale 5s linear; */
}

/* @keyframes scale {
    0%   { transform: scale(1.9)}
    100% { transform: scale(1); }
  } */

.magic-schools {
    display: flex;
    flex-direction: column;
    /* position: absolute;
    top: 0;
    left: 0; */
    /* width: 300px; */
    /* max-width: 300px; */
    /* flex-direction: column; */
}

.magic-schools img {
    /* width: 100%; */
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.magic-schools h2 {
    max-width: 320px;
    /* margin: auto; */
    margin: auto auto 0;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    color: transparent;
    /* background: linear-gradient(0deg, rgb(166, 59, 32), rgb(234, 142, 28), rgb(166, 59, 32)); */
    /* background: linear-gradient(-20deg, rgb(166, 59, 32), rgb(255, 255, 255), rgb(166, 59, 32)); */
    /* background: linear-gradient(-20deg, white, white, red, white); */
    /* background: linear-gradient(0deg, rgb(130 174 185), rgb(228 231 232), rgb(130, 174, 185)); */
    background: linear-gradient(-20deg, rgb(243, 9, 9), rgb(228, 172, 103), rgb(243, 9, 9));
    /* background: url("./img/magic-circle-symbol-red-copy.png"); */
    /* background-position: center; */
    /* background-size: contain; */
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    transition: 1s;
}

.magic-schools h2:hover {
    transform: scale(1.1);
}

.magic-schools h2::before,
.magic-schools h2::after {
    border-color: rgb(165, 44, 35);
}

.bestiary {
    /* width: 300px; */
    /* max-width: 300px; */
    /* position: relative; */
    /* top: 0;
    right: 0; */
    /* margin: 0 20px; */
    /* flex-direction: column; */
}

.bestiary img {
    /* position: relative; */
    /* width: 100%; */
    /* z-index: 2; */
}

/* #splash {
    position: absolute;
    width: 120%;
    top: 79px;
    right: 30px;
    opacity: 0.5;
    z-index: 1;
    filter:  brightness(0) invert(1);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) 
        drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2))
    drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3));
  } */
/* .inner .bestiary-title {
    width: 100%;
    height: auto;
    justify-content: space-around;
  } */

/* .bestiary-title h2 {
    width: 100%;
    position: relative;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient(0deg, rgb(130, 174, 185), rgb(228, 231, 232), rgb(130, 174, 185));
    background: linear-gradient(0deg, rgb(174 144 46), rgb(255, 232, 155), rgb(174, 144, 46));
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    z-index: 5;
    transition: 1s;
  }
  .bestiary-title:hover h2 {
    transform: scale(1.1);
  }
  .bestiary-title img {
    width: 55px;
    opacity: 0;
    transition: 1s;
  }
  .bestiary-title:hover img {
    opacity: 1;
  } */
#claws-img {
    position: relative;
    /* position: absolute; */
    /* width: 100%; */
    /* top: 101px; */
    /* right: 54px; */
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) 
            drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2)) 
            drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3));
    mix-blend-mode: color-burn;
    z-index: 1;
}

#tigrex-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}