.product-details {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
    display: flex;
    gap: 30px;
}

.details-left img {
    width: 460px;
}

.details-right h3 {
    font-size: 34px;
    text-transform: uppercase;
    border-bottom: 2px solid #9e9e9e;
}

.details-right .product-price {
    margin-top: 20px;
    color: #ff7518;
    font-size: 22px;
}

.details-right .desc {
    margin-top: 1rem;
    color: #666;
    font-size: 20px;
}

.product-qty-cart {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.p-qty {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.p-qty .qty {
    font-size: 20px;
    font-weight: 600;
}

.p-qty .qty-amt {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #666;
}

.details-right button {
    padding: 1rem 3.6rem;
    color: #fff;
    border-radius: 30px;
    background-color: #ff7518;
}

.tab-container {
    max-width: 900px;
    margin: 0 auto 2.5rem;
    padding: 1.25rem;
    border: 1px solid #e0e0e0;
}

.tab-header {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #e0e0e0;
}

.tab-header button {
    padding: 10px 20px;
    color: #666;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: color 300ms ease, 
        border-color 300ms ease;
}

.tab-header button.active {
    color: #ff7518;
    border-bottom: 2px solid #ff7518;
}

.tab-content {
    padding: 20px 0;
}

.tab-pane {
    color: #333;
    line-height: 1.6;
}