.about {
    max-width: 1600px;
    margin: auto;
    padding: 3rem 2%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.left-side, 
.right-side {
    flex: 1;
}

.left-side {
    max-width: 500px;
    clip-path: url("#mask-4");
}

.left-side img {
    height: 100%;
    object-fit: contain;
}

.right-header {
    margin-bottom: 15px;
    font-size: 3rem;
}

.right-side > p {
    margin-bottom: 1rem;
    font-size: 20px;
}

.list-container {
    padding: 1rem;
}

.list {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    color: #bf40bf;
    font-size: 34px;
}

@media screen and (max-width: 900px) {
    .about {
        display: block;
    }

    .about .left-side {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .right-header {
        font-size: 2rem;
    }
    
    .right-side p {
        font-size: 16px;
    }
}