.booking {
    max-width: 1200px;
    margin: auto;
    padding: 0 2%;
}

.booking form {
    padding: 0 2% 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #000, 
            -2px -2px 2px #fff5;
}

.booking form .form-group {
    flex: 1;
}

.booking form label {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.booking form select {
    width: 100%;
    min-width: 240px;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 6px;
    border: 0px solid transparent;
    background-color: transparent;
    box-shadow: inset 2px 2px 2px #000, 
            inset -2px -2px 2px #fff5;
}

.booking form select option {
    background-color: #080a0c;
}

.booking .dates {
    flex: 2;
    display: flex;
    gap: 0 1rem;
    /* flex-wrap: wrap; */
}

.booking .dates .date {
    flex: 1;
    min-width: 250px;
}

.booking form button {
    width: 100%;
    margin: 0;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    .booking .dates {
        width: 100%;
        flex-wrap: wrap;
    }
}