.navigation {
    width: 100%;
    background-color: #000;
}

.navigation .container {
    position: relative;
    max-width: 1140px;
    margin: auto;
    padding: 1rem 2%;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #f4eeff;
    font-size: 3rem;
    font-weight: bold;
}

.navigation .nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    /* justify-content: center; */
}

.navigation li {
    padding: 1rem;
}

.hamburger {
    display: none;
    color: #f4eeff;
}

.navigation .icon {
    color: #f4eeff;
    font-size: 2rem;
}

.navigation a {
    color: #f4eeff;
}

@media screen and (max-width:940px) {
    .hamburger {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        min-height: 100vh;
        justify-content: start;
        flex-direction: column;
        background-color: #000;
        transform: translateX(-100%);
        transition: transform 300ms;
    }

    .nav.active {
        transform: translateX(0);
    }

    .nav a {
        font-size: 1.4rem;
    }

}