.hero{
    display: flex;
    padding-inline: 100px;
    gap: 20px;
    justify-content: space-between;
    height: 75vh;
}

.hero-content {
    max-width: 50%;
    margin-top: 50px;
}

.hero-content h1 {
    color: #0E3386;
    font-size: 4.5rem;
}

.hero-content p {
    margin: 20px 0;
    color: #7f8c8d;
}

.buttons {
    margin-top: 40px;
}

.cta-button, 
.service-button {
    padding: 10px 20px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 6px 6px #666;
}

.buttons .cta-button {
    color: #fff;
    background-color: #6F00FF;
}

.buttons .cta-button:hover {
    background-color: #415e9e;
}

.buttons .service-button {
    color: #2c3e50;
    background-color: #ecf0f1;
}

.buttons .service-button:hover {
    background-color: #bdc3c7;
}

.images {
    display: flex;
    gap: 35px;
    align-items: center;
}

.image-container, 
.image-container-small {
    position: relative;
    margin-bottom: -50px;
}

.image-container::before {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "";
    width: 100%;
    height: 100%;
    /* margin-left: 10px; */
    /* margin-top: 10px; */
    border-radius: 150px;
    border: 2px solid #666;
    z-index: -1;
}

.image-container img {
    width: 310px;
    height: 450px;
    object-fit: cover;
    border-radius: 150px;
}

.image-container-small::before {
    position: absolute;
    top: 10px;
    left: 10px;
    content: "";
    width: 100%;
    height: 100%;
    /* margin-left: 10px; */
    /* margin-top: 10px; */
    border-radius: 120px;
    border: 2px solid #666;
    z-index: -1;
}

.image-container-small img {
    width: 160px;
    height: 290px;
    object-fit: cover;
    border-radius: 120px;
}



/* .crm-page {
    max-width: 150rem;
    margin: auto;
}

.hero {
    padding: 3rem 2%;
    text-align: center;
    background-color: #dbe9db;
}

.hero-header {
    max-width: 800px;
    margin: 0 auto;
    color: #043927;
    font-size: 50px;
}

.hero p {
    margin: 1rem 0;
    color: #666;
    font-size: 20px;
}

.hero .btns {
    display: inline-flex;
    gap: 0.6rem;
}

.cta-btn {
    padding: 1em 2.5em;
    color: #fff;
    border-radius: 6px;
    background-color: #043927;
}

.cta-btn:nth-child(2) {
    background-color: #157940;
}

.hero-img {
    max-width: 800px;
    margin: 40px auto 0;
} */