.header.contact-page:before {
    background-image: url('../../images/contact-bg.png');
}

.contact-page .contact-section {
    padding: 10rem 2% 15rem;
}

.contact-section .contact-form-container {
    color: #f8f8f8;
}

.contact-section form {
    max-width: 620px;
    margin: 1rem auto;
    text-align: center;
}

.contact-section .contact-form-container div {
    display: flex;
    flex-direction: column;
}

.contact-section form label {
    margin: 2rem 0 .7rem 0;
    display: none;
}

.contact-section form input,
.contact-section textarea {
    margin: 1rem 0;
    padding: 0.5rem;
    color: #f8f8f8;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: rgba(0, 0, 0, .15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
}

.contact-section form input:focus,
.contact-section textarea:focus {
    outline: var(--primary-color);
    box-shadow: 0 0 12px 0 var(--primary-color);
}