.home-page .header::before {
    background-image: url("../../images/cyber-bg.png");
}

.hero {
    padding: 5rem 0 10rem;
}

.hero .container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .content {
    margin-left: 6rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    color: #f8f8f8;
}

.hero .blue {
    display: block;
    color: var(--primary-color);
}

@media screen and (max-width: 940px) {
    .hero .content {
        margin-left: 1rem;
    }
}