.armor-sets .header-section .image-mask {
    position: relative;
    height: auto;
    clip-path: url("#mask-1");
}

@media screen and (max-width: 1000px) {
    .armor-sets .header-section .image {
        top: 0;
    }

    .armor-sets .header-section .image-mask {
        height: 100%;
    }
}