.products-test {
    max-width: 1600px;
    margin: auto;
    /* padding: 60px 85px; */
    background-color: #fcfcfc;
}

.products-test .product-items {
    padding: 3rem 2%;
    display: grid;
    gap: 40px;
    /* align-items: center; */
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}

.products-test .product-items .item {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    background-color: #fff;
    box-shadow: 0 12px 32px #3333331A;
    transition: all 0.3s ease;
    cursor: pointer;
}

.products-test .product-items .item:hover {
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
}

.products-test .product-items .item img {
    /* width: 100%; */
    /* height: 240px; */
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px 10px 20px 20px;
}

.item .product-info {
    padding: 20px 32px 42px;
    display: flex;
    gap: 14px;
    flex-direction: column;
    text-align: center;
}

.item .product-info h4 {
    margin-bottom: 0.75rem;
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.item .product-info p {
    display: block;
    margin-bottom: 1rem;
    color: #fca120;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 300ms;
}

.item .product-info button {
    font-size: 1.5rem;
    transform: translateY(1rem);
    opacity: 0;
}

.item:hover .product-info button {
    /* display: inline-block; */
    padding: 1.25rem 1.8rem;
    color: #fff;
    font-weight: 600;
    /* border: none; */
    background-color: #fca120;
    transform: translateY(0);
    transition: 300ms;
    opacity: 1;
}

.product-details {
    max-width: 1200px;
    /* margin-top: 40px; */
    margin: 40px auto;
    padding-inline: 50px;
}

.details-top {
    display: flex;
    /* gap: 30px; */
    gap: 2%;
}

.details-right, 
.details-left {
    flex: 1;
}

.details-left {
    margin: auto 0;
}

.details-left img {
    max-width: 600px;
    /* height: 450px; */
    /* margin: auto; */
    object-fit: cover;
    /* clip-path: url("#mask-1"); */
}

.details-right .name {
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

.details-right .price {
    margin-top: 1rem;
    color: #fca120;
    font-size: 28px;
}

.details-right hr {
    max-width: 600px;
    height: 1px;
    margin-bottom: 1rem;
    background-color: #666;
}

.details-right .shipping {
    margin-top: 1rem;
    /* font-size: 16px; */
}

.details-right .delivery .truck, 
.details-right .shipping .truck {
    margin-right: 10px;
    margin-bottom: -2px;
    color: #000;
    font-size: 34px;
}

.details-right .delivery {
    margin-top: 10px;
    color: #666;
    /* font-size: 16px; */
}

.details-right .delivery .span, 
.details-right .shipping .span {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.star-icons {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.star-icons .star-icon{
    color: goldenrod;
    font-size: 20px;
}

.details-right .btns {
    display: flex;
    gap: 10px;
}

.details-right .btns button {
    margin-top: 20px;
    padding: 0.9rem 5rem;
    /* font-size: 16px; */
    font-weight: 600;
    border-radius: 5px;
    /* border: none; */
    transition: all 400ms;
}

.details-right .btns button:nth-child(1) {
    border: 1px solid #000;
    background-color: transparent;
}

.details-right .btns button:nth-child(1):hover {
    background-color: #fca120;
}

.details-right .btns button:nth-child(2) {
    background-color: #000;
    color: #fff;
}

.product-description {
    margin-top: 3.75rem;
}

.product-description h2 {
    margin-bottom: 10px;
    font-size: 2.25rem;
}

.product-description hr {
    margin-bottom: 1rem;
    width: 100%;
    height: 1px;
    background-color: #666;
}

.product_description p {
    margin-bottom: 20px;
    font-size: 18px;
}



.products {
    padding: 1rem 2%;
}

.products h3 {
    margin-bottom: 2rem;
    color: #272343;
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
}

.products .categories {
    margin-bottom: 1rem;
    padding: 1rem 2%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.products .categories button {
    color: #9a9caa;
    text-transform: uppercase;
    /* border: 1px solid; */
}

.products .categories button#active {
    color: #272343;
}

.products-list {
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.products-list .product {
    position: relative;
    display: flex;
    flex-direction: column;
}

.products-list .product .image {
    flex: 1;
}

.products-list .product .image img {
    display: block;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.product .image .status {
    position: absolute;
    top: 5%;
    left: 5%;
}

.product .image .status button {
    padding: 0.5em 1em;
    color: #fff;
    border-radius: 6px;
    background-color: #007580;
}

.product .content .header {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.product .content h4 {
    color: #007580;
    text-transform: capitalize;
}

.product .content .cart {
    padding: 0.4em 0.52em 0.4em 0.5em;
    color: #fff;
    border-radius: 4px;
    background-color: #007580;
}

.product .content .prices {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #272343;
    font-weight: bold;
    font-family: Georgia;
}

.product .content .prices .current {
    color: #9a9caa;
}