.recommended {
    padding: 1rem 2% 0;
}

.recommended-title {
    /* margin-left: 20rem; */
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.recommended-flex {
    /* margin-left: 20rem; */
    display: flex;
    gap: 6px;
}

.btn {
    padding: 10px 20px;
    color: #ccc;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: transparent;
}