nav {
    padding: 1rem 2%;
    text-align: center;
}

.logo {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.icon {
    margin-right: 0.5rem;
    color: #6900ff;
}

.purple {
    color: #6900ff;
}