main {
    flex: 1;
    display: flex;
    width: 100%;
    max-width: 100%;
}

.main-menu {
    /* font-family: 'Kaushan Script', cursive; */
    font-family: "Hurricane", cursive;
}

.main-slider {
    position: relative;
    display: flex;
    width: 100%;
}