.list {
    padding: 3rem 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  
  .list div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
    box-shadow: 3px 3px 3px #0005;
  }

  .list div h1 {
    margin-bottom: 1rem;
  }

  .rating, 
  .price {
    margin: auto 0 0.5rem;
    font-size: 1.2rem;
  }

  .desc {
    margin-bottom: 0.5rem;
  }

  .list div ul {
    display: inline-block;
    margin: 0.5rem auto 0;
    text-align: left;
  }

  .bulled {
    list-style: inside circle;
    /* padding-left: 1rem; */
  }
  

.navbar {
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.nav-logo a {
    font-size: 1.5rem;
    color: #000;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links li {
    color: #666;
    font-size: 18px;
    font-weight: 600;
}

.nav-links li:hover {
    color: #000;
    cursor: pointer;
}

.nav-links li a {
    color: inherit;
    transition: all 400ms;
}

.navbar .nav-btns a {
    margin-left: 1rem;
    padding: 0.8rem 2rem;
    color: #000;
    font-weight: 600;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: 6px 6px #666;
    transition: all 400ms;
    /* cursor: pointer; */
}

.navbar .nav-btns a:hover {
    color: #fff;
    background-color: #6F00FF;
}

/* .navbar {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #dbe9db;
}

.nav-logo a {
    color: #355e38;
    font-size: 1.8rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    padding: 0.4em 1em;
    color: #043927;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 400ms ease;
}

.nav-links a:hover {
    color: #159740;
}

.nav-btns .btn {
    margin: 0 1rem;
    padding: 0.6em 2em;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #043927;
    background-color: #043927;
    transition: color 400ms ease, 
    background-color 400ms ease;
}

.nav-btns .btn:nth-child(1) {
    color: #000;
    background-color: transparent;
}

.nav-btns .btn:hover {
    color: #fff;
    background-color: #043927;
} */