.navbar {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #dbe9db;
}

.nav-logo a {
    color: #355e38;
    font-size: 1.8rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    padding: 0.4em 1em;
    color: #043927;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 400ms ease;
}

.nav-links a:hover {
    color: #159740;
}

.nav-btns .btn {
    margin: 0 1rem;
    padding: 0.6em 2em;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #043927;
    background-color: #043927;
    transition: color 400ms ease, 
    background-color 400ms ease;
}

.nav-btns .btn:nth-child(1) {
    color: #000;
    background-color: transparent;
}

.nav-btns .btn:hover {
    color: #fff;
    background-color: #043927;
}