/* .hero {
    position: relative;
    height: 100vh;
    min-height: 720px;
    max-height: 1200px;
    padding: 10rem 2%;
    display: flex;
    color: #fff;
    background-color: #000;
    z-index: 1;
}

.hero:before {
    position: absolute;
    top: 5rem;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: url('../../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: url("#mask-1");
    z-index: -2;
}

.hero::after {
    position: absolute;
    top: 5rem;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    z-index: -1;
}

.hero .content {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero .content p:first-child {
    font-style: italic;
    font-size: .9rem;
}

.hero .content p:nth-child(2) {
    font-size: 1.9rem;
    font-family: Georgia, serif;
}

.hero .content p:nth-child(3) {
    font-size: 5rem;
    font-weight: 700;
}


.hero .content p:nth-child(4) {
    font-size: 2.2rem;
    font-style: italic;
}

.hero .button {
    margin: 1rem auto 1rem 0;
    color: #222;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    transition: color 400ms ease-out, 
    background-color 400ms ease-out;
}

.hero .button:hover {
    color: var(--secondary-dark);
    border: 2px solid var(--secondary-dark);
    background-color: transparent;
}

@media screen and (max-width:940px) {
    .hero .content p:nth-child(3) {
        font-size: 2.6rem;
    }

    .hero .content p:nth-child(4) {
        font-size: 1.6rem;
    }
} */

#hero {
    width: 100%;
    max-width: 75rem;
    /* height: calc(100vh - 4rem); */
    margin: 0 auto;
    margin-top: 5rem;
    /* padding: 15rem 2% 10rem; */
    display:flex;
    /* overflow: hidden; */
}

.hero-right {
   width: 50%;
   /* height: 75vh; */
   /* padding-left: 150px; */
   /* background-image: url(../Asset/my_image.jpg); */
   /* background: url("https://raw.githubusercontent.com/Jogataback/Front-end/refs/heads/main/portfolio-black/img/about-bg.jpg"); */
   background-position: center;
   background-size: cover;
   /* clip-path: url("#mask-1"); */
   /* clip-path: url("#mask-2"); */
   /* clip-path: url("#mask-3"); */
   /* clip-path: url("#mask-4"); */
   border: 1px solid red;
}

.hero-right img {
    /* position: absolute; */
    /* margin-top: -400px; */
}

.hero-left {
    flex: 1;
    padding: 15rem 2% 10rem;
    /* width: 100vw; */
    /* height: 100vh; */
    /* padding-left: 100px; */
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 500; 
    line-height: 1.1;
}

.hello {
   font-size: 1.75rem;
   font-weight: 100; 
}

.name {
    color: brown;
}

.introPara {
    font-size: medium;
    font-weight: 100;   
}

.btn{
    margin: 1rem auto 1rem 0;
    padding: 0.5em 1em;
    color: darkslateblue;
    border: none;
    border-radius: 4rem;
    background-color: white;
}

.btn img {
    /* height: 1rem; */
    /* margin: 0 0.25rem; */
    /* object-fit: cover; */
}

@media screen and (max-width:900px) {
    .hello, .intro {
        font-size: 35px;
    }
}

@media screen and (max-width:600px) {}