.work-list {
    margin-top: 150px;
}

.work-list .work-header {
    margin-top: 30px;
    font-size: 45px;
    text-align: center;
}

.work-container {
    padding: 20px;
    display: grid;
    row-gap: 2rem;
    /* align-items: start; */
    grid-template-columns: repeat(2, 1fr);
    /* overflow-y: auto; */
}

.work {
    width: 90%;
    /* height: 500px; */
    /* margin: 10px 0; */
    margin: 0 auto;
    padding: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    border-radius: 5px;
    background-color: #232324;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
}

/* .work-image { */
    /* overflow: hidden; */
    /* flex: 2; */
/* } */

.work-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.work-content {
    padding: 20px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.work-content h2 {
    margin: 0 0 10px;
    font-size: 28px;
}

.work-link {
    display: flex;
    gap: 20px;
}

.work-link a {
    color: #5afad2;
    font-size: 34px;
}

@media (max-width: 730px) {
    .work-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    /* .work { */
        /* height: 650px; */
        /* flex-direction: column; */
    /* } */
    .work-content p {
        font-size: 16px;
    }
    /* .work-image { */
        /* flex: 2; */
    /* } */
    .work-image img {
        width: 95%;
        height: 300px;
        margin: auto;
    }
    .work-content h2 {
        margin-top: 10px;
        font-size: 30px;
    }
}