.hero-container {
    max-width: 1600px;
    margin: auto;
    padding: 1rem;
    background-image: url('../../images/hero-furniture.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container .navigation {
    background-color: transparent;
}

.hero {
    max-width: 900px;
    margin: auto;
    padding: 10rem 0;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: max(4vw, 70px);
}

.hero h1 span {
    color: #ff7518;
    font-style: normal;
    font-weight: 400;
    font-family: "Great Vibes", cursive;
}

.hero p {
    width: 90%;
    color: #e3e3e3;
    line-height: 1.5;
}

.hero button {
    padding: 1.1rem 4rem;
    font-weight: bold;
    border-radius: 16px;
    background-color: #fff;
}