.testimonials .container {
    max-width: 1240px;
    margin: 4rem auto;
    padding: 4rem 0rem;
}

.testimonials h2 {
    font-size: 3rem;
    text-align: center;
}

.testimonials .container .content {
    margin: 4rem 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

.testimonials .card {
    position: relative;
    padding: 1rem;
}

.testimonials .card::after {
    position: absolute;
    top: 2rem;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: 0 3px 10px rgb(0,0,0,.2);
    z-index: -1;
}

.testimonials img {
    max-width: 80px;
    border-radius: 50%;
}

.testimonials .card p {
    margin: 12px;
    color: #787878;
    font-size: 1.1rem;
}

.testimonials .card span {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (max-width: 940px) {
    .testimonials .container .content {
        grid-template-columns: 1fr;
    }

    .testimonials .card {
        max-width: 100%;
        margin: 1rem;
    }
}