.hero {
    max-width: 1400px;
    /* height: 75vh; */
    margin: auto;
    padding-inline: 60px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.hero-left .hero-header {
    font-size: 65px;
    margin-top: 30px;
}

.hero-left .hero-desc {
    margin-top: 15px;
    font-size: 18px;
    color: #666;
}

.hero-left .hero-logos {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.hero-left .hero-logos img {
    width: 120px;
}

.hero-right {
    max-width: 650px;
    /* height: 500px; */
}

.hero-right .hero-image {
    display: block;
    /* height: 100%; */
    margin: auto;
    /* width: 650px; */
    /* height: 500px; */
    object-fit: contain;
    clip-path: url("#mask-1");
}

@media screen and (max-width: 975px) {
    .hero .hero-right {
        display: none;
    }

    .hero-left {
        max-width: 600px;
        margin: auto;
        padding: 5rem 2%;
    }
    
    .hero-left .hero-logos img {
        margin-top: -20px;
        width: 60px;
    }
    
    .hero-left .hero-header {
        margin-top: 10px;
        font-size: 40px;
        text-align: center;
    }
    
    .hero-left .hero-desc {
        font-size: 16px;
        text-align: center;
    }

    .hero {
        /* height: 50vh; */
        padding-inline: 0;
        gap: 0;
    }
    
    .hero-left .hero-logos {
        justify-content: center;
    }
}

.edukative-hero {
    --round-border: 100px;
    max-width: 1600px;
    margin: auto;
    padding: 5rem 2%;
}

@media screen and (max-width: 500px) {
    .edukative-hero {
        --round-border: 20vw;
    }
}

@media screen and (min-width: 1000px) {
    .edukative-hero {
        display: flex;
        gap: 20px;
        justify-content: space-between;    
    }
}

.edukative-hero-content {
    flex: 1;
    max-width: 900px;
    margin-top: 30px;
}

@media screen and (max-width: 1000px) {
    .edukative-hero-content {
        text-align: center;
    }
}

.edukative-hero-content h1 {
    font-size: 4.6rem;
}

.edukative-hero-content h1 span {
    color: #1fcbff;
}

.edukative-hero-content p {
    margin: 20px 0;
    color: #7f8c8d;
    font-size: 20px;
}

.edukative-buttons {
    margin-top: 64px;
}

.edukative-cta-button, 
.edukative-courses-button {
    margin: 10px;
    padding: 20px 30px;
    font-weight: 600;
    border: 1px solid #1fcbff;
    transition: color 400ms ease,
    background-color 400ms ease;
}

.edukative-cta-button {
    color: #222;
    border-radius: 30px;
    background-color: #1fcbff;
}

.edukative-courses-button {
    border-radius: 30px;
    color: #1fcbff;
    background-color: transparent;
}

.edukative-cta-button:hover {
    color: #1fcbff;
}

.edukative-cta-button:hover, 
.edukative-courses-button:hover {
    background-color: #222;
}

.edukative-hero-images {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .edukative-hero-images {
        margin-top: 80px;
    }
}

.edukative-hero-image {
    max-width: 250px;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .edukative-hero-image {
        max-width: 400px;
    }
}

.edukative-images-row {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.edukative-hero-images .edukative-top-left {
    border-top-right-radius: var(--round-border);
    border-bottom-left-radius: var(--round-border) ;
}

.edukative-hero-images .edukative-top-right {
    border-top-left-radius: var(--round-border);
    border-bottom-right-radius: var(--round-border);
}

.edukative-hero-images .edukative-bottom-left {
    border-bottom-right-radius: var(--round-border);
    border-top-left-radius: var(--round-border);
}

.edukative-hero-images .edukative-bottom-right {
    border-bottom-left-radius: var(--round-border);
    border-top-right-radius: var(--round-border);
}

/* .edukative-hero-content .edukative-hero-icon {
    position: absolute;
    margin-top: -80px;
    margin-left: 50px;
    font-size: 50px;
    animation: float-icon 3s ease-in-out infinite;
}

@keyframes float-icon {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.7rem);
    }
    100% {
        transform: translateY(0);
    }
} */

@media screen and (max-width: 480px) {
    .edukative-hero-content {
        max-width: 100%;
        margin-top: 10px;
        text-align: center;
    }

    .edukative-hero-content h1 {
        font-size: 3rem;
    }

    .edukative-hero-content p {
        font-size: 16px;
    }

    .edukative-cta-button, 
    .edukative-courses-button {
        padding: 14px 16px;
        font-size: 14px;
    }
}