.about {
    /* width: 100%; */
    padding: 3rem 1rem 1rem;
    text-align: center;
    background-color: #000;
}

.about h2 {
    margin: 1rem 0;
    color: #f8f8f8;
}

.about .container {
    max-width: 1140px;
    margin: auto;
}

.about .container > p {
    max-width: 900px;
    margin: 1rem auto 3rem;
    color: #f8f8f8;
    font-size: 1.2rem;
}

.about .card-container {
    margin: 1rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.about .card {
    margin: 0 auto;
    padding: 3rem 2rem;
    text-align: left;
    border-radius: 24px;
    border: 1px solid #e7e8ea;
    background-color: #000;
}

.about .card:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}

.about .card h3 {
    margin: 1rem 0;
    color: #f8f8f8;
}

.about .card p {
    color: #ccc;
}

.about .icon-container {
    display: inline-flex;
    min-width: 70px;
    aspect-ratio: 1/1;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--primary-blue);
}

.about .icon {
    margin: auto;
    color: #333;
    font-size: 2rem;
}

.about .btn {
    display: inline-block;
    margin-top: 2rem;
}

@media screen and (max-width: 940px) {
    .about .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .about .card-container {
        grid-template-columns: 1fr;
    }
}