section.services {
    padding: 5rem 2%;
}

.services-header, 
.services-text {
    text-align: center;
}

.services-header {
    font-size: 36px;
}

.services-text {
    font-size: 18px;
    margin: 1rem 0 3.5rem;
}

div.services {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 12px;
    background-color: #f9f9f9;
}

.service {
    padding: 2rem;
    color: #222;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: color 400ms ease, 
    background-color 400ms ease;
}

.service:hover {
    color: #fff;
    background-color: #043927;
}

.service:first-child {
    color: #fff;
    background-color: #043927;
}

.service:first-child .action a {
    color: #fff;
}

.service .icon {
    display: inline-block;
    /* width: 35px; */
    /* height: 30px; */
    /* margin-bottom: 1.2rem; */
    padding: 0.8rem 1rem;
    color: #fff;
    border-radius: 12px;
    background-color: #043927;
}

.service .icon i {
    font-size: 1.6rem;
}

.service h2 {
    margin: 1.2rem 0 1rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.service p {
    /* margin-top: 1rem; */
    font-size: 1rem;
}

.service .action {
    margin-top: 1rem;
}

.service .action a {
    /* padding: 0.5em 1em; */
    display: inline-flex;
    gap: 0.5rem;
    color: #043927;
    transition: color 400ms ease;
}

.service:hover a {
    color: #fff;
}