@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-inter: "Inter", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    font-family: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    border: 0px solid transparent;
    outline: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

button:focus-visible,
a:focus-visible {
    outline: 1px solid #999;
}

img {
    width: 100%;
}

.svg {
    position: absolute;
    width: 0;
    height: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia;
}