.edukative.footer {
    position: relative;
    max-width: 1600px;
    margin: auto;
    padding: 3rem 0;
    color: #fff;
    filter: drop-shadow(1px 1px 1px #fff2)
}

.edukative.footer::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    clip-path: url("#mask-1");
    z-index: -1;
}

.edukative.footer .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
}

.edukative .footer-details h1 {
    margin-bottom: 1rem;
    font-size: 45px;
    color: #1fcbff;
}

.edukative .footer-details p {
    max-width: 400px;
    font-size: 1.25rem;
}

.edukative.footer h2 {
    margin-bottom: 1rem;
}

.edukative .footer-links ul {
    font-size: 1.25rem;
    line-height: 3rem;
}

.edukative .footer-links ul li a {
    color: inherit;
    transition: color 400ms ease;
}

.edukative .footer-links ul li a:hover {
    color: #1fcbff;
}

.edukative .footer-socials {
    line-height: 2rem;
}

.edukative .footer-socials .icons {
    display: flex;
    gap: 1rem;
}

.edukative .footer-socials .icons a {
    padding: 0.5rem;
    color: inherit;
    font-size: 2rem;
    transition: color 400ms ease;
}

.edukative .footer-socials .icons a:hover {
    color: #1fcbff;
}

@media screen and (max-width: 480px) {
    .edukative.footer .container {
        gap: 3rem;
        flex-direction: column;
    }
}