.footer {
    /* margin-top: 270px; */
    padding: 5rem 1rem 1rem;
    /* padding: 20px 8vw; */
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    color: #000;
    background-color: #f9f9f9;
}

.footer-content {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    gap: 80px;
    grid-template-columns: 2fr 1fr 1fr;
}

.content-left h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}

.content-left p {
    max-width: 500px;
}

.socials {
    display: flex;
    gap: 1rem;
}

.socials i {
    padding: 0.5em;
    border-radius: 50%;
    border: 1px solid;
    transition: all 400ms;
    cursor: pointer;
}

.socials li:first-child i {
    padding: 0.5rem 0.7rem;
}

.socials li:hover i {
    color: #ccc;
    background-color: #000;
}

.content-left, 
.content-center, 
.content-right {
    display: flex;
    gap: 20px;
    align-items: start;
    flex-direction: column;
}

.content-center li, 
.content-right li {
    margin-bottom: 10px;
}

.footer hr {
    width: 100%;
    max-width: 1400px;
    height: 2px;
    /* margin-top: 1rem; */
    margin: 1rem 0 0;
    border: none;
    background-color: #ccc;
}

address {
    display: inline;
    padding-left: 0.5rem;
    line-height: 1.4;
}

.footer-copyright {
    /* padding-top: 1rem; */
    color: #666;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .footer {
        /* margin-top: 350px; */
    }
 
    .footer-content {
        display: flex;
        gap: 35px;
        flex-direction: column;
    }
 
    .content-right li {
        font-size: 14px;
    }
}

/* .edukative.footer {
    position: relative;
    max-width: 1600px;
    margin: auto;
    padding: 3rem 0;
    color: #fff;
    filter: drop-shadow(1px 1px 1px #fff2)
}

.edukative.footer::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    clip-path: url("#mask-1");
    z-index: -1;
}

.edukative.footer .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
}

.edukative .footer-details h1 {
    margin-bottom: 1rem;
    font-size: 45px;
    color: #1fcbff;
}

.edukative .footer-details p {
    max-width: 400px;
    font-size: 1.25rem;
}

.edukative.footer h2 {
    margin-bottom: 1rem;
}

.edukative .footer-links ul {
    font-size: 1.25rem;
    line-height: 3rem;
}

.edukative .footer-links ul li a {
    color: inherit;
    transition: color 400ms ease;
}

.edukative .footer-links ul li a:hover {
    color: #1fcbff;
}

.edukative .footer-socials {
    line-height: 2rem;
}

.edukative .footer-socials .icons {
    display: flex;
    gap: 1rem;
}

.edukative .footer-socials .icons a {
    padding: 0.5rem;
    color: inherit;
    font-size: 2rem;
    transition: color 400ms ease;
}

.edukative .footer-socials .icons a:hover {
    color: #1fcbff;
}

@media screen and (max-width: 480px) {
    .edukative.footer .container {
        gap: 3rem;
        flex-direction: column;
    }
} */