* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.bulled {
    /* list-style: inside circle; */
    /* padding-left: 1rem; */
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    cursor: pointer;
}

button, 
input {
    font-family: inherit;
    border: 0px solid transparent;
    outline: 1px solid transparent;
    background-color: transparent;
    /* cursor: pointer; */
}

button:focus-visible, 
input:focus-visible, 
a:focus-visible {
    outline: 1px solid #999;
}

.link {
    display: inline;
    color: #f1683a;
}

a.not-active {
    color: red;
    font-weight: bold;
    cursor: text;
}

a.not-active:hover {
    color: #fff;
    background-color: red;
}

img {
    display: block;
    width: 100%;
}

.svg {
    /* display: none; */
    position: absolute;
    width: 0;
    height: 0;
}

.mask-1 {
    clip-path: url("#mask-1");
}

.mask-2 {
    clip-path: url("#mask-2");
}

.mask-3 {
    clip-path: url("#mask-3");
}

.mask-4 {
    clip-path: url("#mask-4");
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    /* min-height: 100vh; */
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Limelight', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Lemon', cursive;
    font-family: "Lora", serif;
    font-family: "Croissant One", serif;
    font-family: "Shojumaru", system-ui;
    font-family: "Montez", cursive;
    font-family: "Modak", system-ui;
    font-family: "Prosto One", sans-serif;
    font-family: "Young Serif", serif;
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-family: "Brawler", serif;
    font-family: "Gloock", serif;
    font-family: "Ephesis", cursive;
    font-family: "Platypi", serif;
    font-family: "Patua One", serif;
    font-family: "Rye", serif;
    font-family: "Arizonia", cursive;
    font-family: "Imbue", serif;
    font-family: 'Kaushan Script', cursive;
    font-family: "Hurricane", cursive;
    font-family: Georgia, serif;
    /* line-height: 1.6; */
    background-color: #080a0c;
}

/* @media screen and (min-aspect-ratio: 16/9) {
    body {
      background-position: top center;
      background-size: contain;
    }
  } */

.dark-bg {
    /* background-color: #18293d; */
}

.btn {
    display: inline-block;
    margin: 2rem 0;
    padding: 0.6em 1.4em;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 2em;
    border: 1px solid #fff;
    transition: all 500ms;
}

.btn:hover {
    color: #f1683a;
    border: 1px solid #f1683a;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 6rem;
    /* margin-top: 10vw; */
    /* color: brown; */
    /* text-align: center; */
    /* text-transform: capitalize; */
}

.weather-app {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.weather-app::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: url('./images/bg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.search {
    padding: 1rem 2%;
    text-align: center;
}

.search input {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    width: auto;
    font-size: 1.2rem;
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
}

.search input::placeholder {
    color: #fff;
}

.location, 
.location-info {
    text-align: center;
}

.location {
    /* flex: 1; */
    margin: auto 0;
    padding: 3rem 2%;
}

.location h1 {
    /* margin-top: auto; */
}

.location .description {
    /* margin-bottom: auto; */
}
