*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

button, 
input {
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
}

button {
  cursor: pointer;
}

button:focus-visible, 
a:focus-visible {
  outline: 1px solid #999;
}

img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6;
}

body {
  color: #fff;
  font-family: Georgia, serif;
  background-color: #080a0c;
}

.page {
  min-height: 100vh;
  padding: 3rem 2%;
  display: flex;
}

.wrapper {
  width: 100%;
  max-width: 390px;
  margin: auto;
  padding: 30px 30px 40px;
  border-radius: 30px;
  border: 1px solid #666;
  box-shadow: 5px 5px 5px #0005, 
            -5px -5px 5px #fff3;
}

.wrapper .titles {
  overflow: hidden;
}

.titles-details {
  display: flex;
  transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .title {
  flex-shrink: 0;
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.wrapper .forms {
  width: 100%;
  overflow: hidden;
}

.wrapper .form-control {
  margin: 30px 0 10px 0;
  display: flex;
  border-radius: 36px;
  box-shadow: inset 1px 1px 1px #000, 
          inset -1px -1px 1px #fff5;
}

.form-control .label {
  width: 100%;
  padding: 0.5em;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  transition: color 600ms ease;
}

.form-control .label.register {
  position: relative;
}

.form-control .label.register::after {
  position: absolute;
  top: 3%;
  left: 0;
  content: "";
  width: 100%;
  height: 96%;
  border-radius: 3rem;
  box-shadow: -1px -1px 1px #fff5, 1px 1px 1px #000;
  transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
  user-select: none;
}

.wrapper.register .titles-details {
  transform: translateX(-100%);
}

.wrapper.register .label.register, 
.wrapper.login .label.login {
  color: #f1683a;
}

.wrapper.login .label.register::after {
  transform: translateX(-100%);
}

.form-details {
  display: flex;
  transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.register .form-details {
  transform: translateX(-100%);
}

.form-details form {
  flex-shrink: 0;
  width: 100%;
  padding-top: 1rem;
}

.form-details form .field {
  margin-top: 1.3rem;
  border-bottom: 2px solid #adadad;
}

.form-details form .field input {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1.1rem;
  background-color: transparent;
  transition: all 300ms ease;
}

.form-details form .field input::placeholder {
  color: #555;
  transition: all 300ms ease;
}

form .field input:focus::placeholder {
  color: #5a91cf;
}

.reset {
  margin-top: 1rem;
}

.redirect {
  margin-top: 1.9rem;
  text-align: center;
}

.redirect a {
  margin-left: 6px;
}

.forms .reset a, 
.forms .redirect a {
  color: #f1683a;
  transition: color 300ms ease;
}

.forms .reset:hover a, 
.forms .redirect a:hover {
  color: #5a91cf;
}

.submit-btn {
  width: 100%;
  margin: 1rem 0;
  border-radius: 36px;
}

.submit-btn button {
  position: relative;
  width: 100%;
  padding: 0.4em 1.6em;
  color: #000;
  font-size: 20px;
  border: 1px solid;
  border-radius: 36px;
  background-color: #f1683a;
  transition: color 300ms ease, 
  background-color 300ms ease;
  z-index: 1;
}

.submit-btn:hover button {
  color: #f1683a;
  background-color: transparent;
}

.register-form .submit-btn {
  margin-top: 2rem;
}