.footer {
    max-width: 1600px;
    margin: auto;
    /* height: 10vh; */
    margin-top: 5rem;
    padding: 2rem;
    color: #fff;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    background-color: #000;
}

.right, 
.left {
    /* margin-top: 20px; */
}

.left ul {
    display: flex;
    gap: 15px;
}

.left ul li {
    font-size: 18px;
}

/* .crm-footer {
    position: relative;
    max-width: 1600px;
    margin: auto;
    padding: 5rem 2% 2rem;
}

.crm-footer::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #043927;
    clip-path: url("#mask-3");
    z-index: -1;
}

.crm-footer .footer-content {
    display: grid;
    gap: 80px;
    grid-template-columns: 2fr 1fr 1fr;
}

.crm-footer .footer-col h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.crm-footer .footer-col p {
    max-width: 500px;
}

.crm-footer .footer-col li {
    margin-bottom: 0.6rem;
    cursor: pointer;
}

.crm-footer .footer-col li a {
    color: #fff;
}

.crm-footer .footer-icons li {
    display: inline-block;
    margin-right: 1rem;
}

.crm-footer .footer-icons {
    margin-top: 1.2rem;
}

.crm-footer .footer-icons img {
    max-width: 40px;
    margin-top: 1.25rem;
    margin-right: 1rem;
}

.crm-footer .footer hr {
    width: 100%;
    height: 2px;
    margin: 1.25rem 0 2rem;
    background-color: grey;
}

.crm-footer .copyright {
    text-align: center;
} */