.card-container {
    margin-top: 2rem;
    /* margin-left: 20rem; */
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: block;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #222;
    box-shadow: 1px 1px 1px #000, 
            -1px -1px 1px #fff5;
    cursor: pointer;
}

.card-img {
    width: 13rem;
    margin-bottom: 1rem;
}

.card-title {
    margin-bottom: 1rem;
}

.card-reviews {
    margin-bottom: 1rem;
    display: flex;
    gap: 6px;
    align-items: center;
}

.rating-star {
    color: #d5ab55;
}

.total-reviews {
    margin-left: 10px;
    font-size: 0.9rem;
}

.card-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bag-icon {
    color: #535353;
}