*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

button:focus-visible, 
a:focus-visible {
  outline: 1px solid #999;
}

img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6;
}

.svg {
  display: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: Georgia, serif;
  background-color: #080a0c;
}