nav {
    position: relative;
    /* width: 96%; */
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    /* padding: 0.5rem 0; */
    padding: 1rem 2%;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    z-index: 7000;    /* TODO */
}

.nav-list {
    /* display: flex; */
    display: none;
    gap: 1rem;
    flex-wrap: wrap;
    margin: auto;
}

nav li {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.main-nav a {
    position: relative;
    padding: 0.4em 1em;
    color: #fff;
}

.main-nav .nav-link::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 50%;
    height: 1px;
    margin: auto;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 400ms ease-out;
}

.main-nav a:hover::after {
    transform: scaleX(1);
}

.sub-nav {
    position: relative;
}

.sub-nav span {
    display: inline-block;
    padding: 0.4em 1em;
    cursor: pointer;
}

.sub-nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: max-content;
    padding: 1.2rem 1rem;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
}

/* .sub-nav.expanded ul {
    display: block;
} */

.sub-nav:hover ul,
.sub-nav ul:hover {
    display: block;
}

.logo {
    align-self: flex-start;
    font-size: 2rem;
    font-weight: bold;
}

.logo img {
    display: block;
}

.main-nav .skyrim-logo {
    /* max-width: 7rem; */
    /* padding: 1rem; */
    padding: 1vw;
    border-radius: 50%;
}

.main-nav .skyrim-logo img {
    min-width: 3rem;
    max-width: 5rem;
    width: 10vw;
}

@media screen and (min-width: 1600px) {
    .main-nav .skyrim-logo {
        padding: 1rem;
    }
}

#menu-btn {
    font-size: 0px;
}

#menu-btn i {
    padding: 0.5em;
    color: #000;
    font-size: 2rem;
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1300px) {
    .nav-list {
        display: flex;
    }

    #menu-btn {
        display: none;
        /* display: block; */
    }
}