@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Kaushan+Script&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Brawler:wght@400;700&family=Croissant+One&family=Ephesis&family=Gloock&family=Hurricane&family=Imbue:opsz,wght@10..100,100..900&family=Modak&family=Montez&family=Prosto+One&family=Rye&family=Shojumaru&family=Young+Serif&family=ZCOOL+XiaoWei&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Goldman:wght@400;700&display=swap");

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold: #897859;
  --gothic-font: "Planewalker", sans-serif;
}

ul {
  list-style: none;
}

.bulled {
  list-style: inside circle;
  padding-left: 1rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

button:focus-visible, 
a:focus-visible {
  outline: 1px solid #999;
}

.link {
  display: inline;
  color: #f1683a;
}

a.not-active {
  color: red;
  font-weight: bold;
  cursor: text;
}
a.not-active:hover {
  color: #fff;
  background-color: red;
}

img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6;
}

.svg {
  /* display: none; */
  position: absolute;
  width: 0;
  height: 0;
}

.mask-1 {
  clip-path: url("#mask-1");
}
.mask-2 {
  clip-path: url("#mask-2");
}
.mask-3 {
  clip-path: url("#mask-3");
}
.mask-4 {
  clip-path: url("#mask-4");
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  /* min-height: 100vh; */
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Great Vibes', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Limelight', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Fraunces', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Lemon', cursive;
  font-family: "Goldman", sans-serif;
  font-family: "Lora", serif;
  font-family: "Croissant One", serif;
  font-family: "Shojumaru", system-ui;
  font-family: "Montez", cursive;
  font-family: "Modak", system-ui;
  font-family: "Prosto One", sans-serif;
  font-family: "Young Serif", serif;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-family: "Brawler", serif;
  font-family: "Gloock", serif;
  font-family: "Ephesis", cursive;
  font-family: "Platypi", serif;
  font-family: "Patua One", serif;
  font-family: "Rye", serif;
  font-family: "Arizonia", cursive;
  font-family: "Imbue", serif;  
  font-family: 'Kaushan Script', cursive;
  font-family: "Hurricane", cursive;
  font-family: Georgia, serif;
  /* line-height: 1.6; */
  background-color: #080a0c;
}

/* @media screen and (min-aspect-ratio: 16/9) {
  body {
    background-position: top center;
    background-size: contain;
  }
} */

.dark-bg {
  /* background-color: #18293d; */
}

.btn {
  display: inline-block;
  margin: 2rem 0;
  padding: 0.6em 1.4em;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 2em;
  border: 1px solid #fff;
  transition: all 500ms;
}
.btn:hover {
  color: #f1683a;
  border: 1px solid #f1683a;
}

.details-btn {
  margin-top: 3rem;
  padding: 0.4em 1.4em;
  color: #fff;
  font-size: 2rem;
  /* font-weight: 500; */
  font-family: inherit;
  text-transform: capitalize;
  border-radius: 2em;
  border: 1px solid #eee;
  background-color: transparent;
  transition: all 400ms;
  cursor: pointer;
}
.details-btn:hover {
  color: #000;
  background-color: #eee8;
  box-shadow: inset 2px 2px 2px #000, 
            inset -2px -2px 2px #fff;
}

.big-fs {
  font-size: 4rem;
}

.cursive {
  font-family: "Arizonia", cursive;
}

.gold {
  color: transparent;
  background: linear-gradient(0deg, rgb(174 144 46), rgb(255, 232, 155), rgb(174, 144, 46));
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: text;
  background-clip: text;
}

.silver {
  color: transparent;
  background-color: rgb(130, 174, 185);
  background: linear-gradient(0deg, rgb(130, 174, 185), rgb(228 231 232), rgb(130, 174, 185));
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: text;
  background-clip: text;
}

.decor-1 {
  /* position: relative; */
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
.decor-1::before, 
.decor-1::after {
  display: inline-block;
  /* position: absolute; */
  /* top: 50%; */
  content: "";
  width: 3rem;
  height: 2px;
}
.decor-1::before {
  right: 100%;
}
.decor-1::after {
  left: 100%;
}

.silver.decor-1::before, 
.silver.decor-1::after {
  background-color: rgb(228, 231, 232);
}

.page {
  /* min-height: 100vh; */
  /* background-color: green; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}

.full-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-screen main {
  flex: 1;
  display: flex;
  width: 100%;
  max-width: 100%;
}

.main-description {
  /* width: 80%; */
  max-width: 1200px;
  /* margin: 0 auto; */
  font-size: 1.1rem;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .main-description {
    width: 80%;
  }
}

/* .main-description h1 {} */

.main-description p {
  margin-bottom: 2rem;
}

.slide {
  /* flex: 1; */
  position: absolute;
  /* max-width: 34%; */
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* border: 1px solid red; */
  transition: clip-path 500ms ease;
  overflow: hidden;
}

.slide:hover {
  z-index: 2;
}

.relative {
  position: relative;
  height: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.slide img {
  display: block;
  width: 40%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0; */
  transition: width 500ms ease;
}

.slide:hover img {
  width: 55%;
}

.slide:nth-child(2) img {
  width: 50%;
  margin: auto;
}
.slide:nth-child(2):hover img {
  width: 70%;
  margin: auto;
}
.slide:nth-child(3) img {
  margin-left: auto;
  object-position: 80% center;
}

.slide:nth-child(1) {
  /* display: none; */
  clip-path: polygon(0% 0%, 40% 0%, 25% 100%, 0% 100%);
  /* background-color: red; */
}
.slide:nth-child(1):hover {
  clip-path: polygon(0% 0%, 55% 0%, 40% 100%, 0% 100%);
}
.slide:nth-child(2) {
  clip-path: polygon(40% 0%, 75% 0%, 60% 100%, 25% 100%);
  /* background-color: blue; */
  /* z-index: -1; */
}
.slide:nth-child(2):hover {
  clip-path: polygon(30% 0%, 85% 0%, 70% 100%, 15% 100%);
}
.slide:nth-child(3) {
  /* display: none; */
  clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 60% 100%);
  /* background-color: burlywood; */
}
.slide:nth-child(3):hover {
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 45% 100%);
}

.content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 30%;
  /* margin: auto; */
  /* border: 1px solid black; */
  text-align: center;
  transform: translateY(100%);
  transition: opacity 800ms ease-in, 
            transform 800ms ease-in;
  opacity: 0;
}

.slide:nth-child(2) .content {
  /* left: 0; */
  /* right: 0; */
  margin: auto;
}
.slide:nth-child(3) .content {
  /* left: 0; */
  /* right: 0; */
  margin-left: auto;
}

/* .slide:hover {
  z-index: 2;
} */
.slide:hover .content {
  transform: translateY(0%);
  opacity: 1;
}

.content h1 {
  font-size: 5rem;
  text-transform: capitalize;
}

.content a {
  padding: 0.2em 1.4em;
  color: #fff;
  font-size: 1.6rem;
  text-transform: capitalize;
  border-radius: 2em;
  border: 1px solid #fff;
  transition: opacity 400ms ease, 
      background-color 400ms ease;
  transition-delay: 1s, 0s;
  opacity: 0;
}
.content a:hover {
  background-color: #000;
}

.slide:hover a {
  opacity: 1;
}

main.max-width {
  width: 100%;
  max-width: 2400px;
  margin: auto;
}

/* .page-header {
  text-align: center;
} */

.header-content {
  position: relative;
  /* width: 96%; */
  /* max-width: 60%; */
  /* max-width: 100rem; */
  /* margin: 0 auto; */
  /* margin: 0 auto 0 2vw; */
  padding: 3rem 0;
}

/* Overview */
.header-content h1 {
  margin: 1rem 0 3rem;
  font-size: 4rem;
}

.details-content h2 {
  margin: 3rem 0 1rem;
  /* text-indent: 1rem; */
  font-size: 2.2rem;
  border-bottom: 1px solid gray;
}

.details-content h3 {
  display: inline-block;
  margin: 2rem 0 1rem;
  /* text-indent: 1rem; */
  font-size: 1.6rem;
  border-bottom: 1px solid gray;
}

.details-content p {
  margin: 1rem 0;
}

.page-content {
  /* width: 96%; */
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  /* padding: 3rem 0; */
  padding: 3rem 2%;
}
  
.page-content h1 {
  /* margin: 1rem 0 1rem; */
  /* font-size: 4rem; */
}
  
/* .page-content h2 {
  margin: 3rem 0 1rem;
  text-indent: 1rem;
  font-size: 2.2rem;
  border-bottom: 1px solid gray;
}   */



.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}



.todo {}
.locations .header-content, 
.equipment .header-content, 
.armor-sets .header-content, 
.armor .header-content {
  /* position: relative; */
  /* max-width: 90%; */
  /* display: flex; */
  /* gap: 2rem; */
}

.todo {}
.raids h1, 
.locations h1, 
.equipment h1, 
.armor-sets h1, 
.steel-armor h1, 
.armor h1 {
  margin: 2rem 0;
  font-size: 4rem;
  text-align: center;
}

/* .raids.page-content .header-section .image,  */
/* .equipment.page-content .header-section .image,  */
/* .locations.page-content .header-section .image,  */
.header-section .image {
  /* position: relative; */
  /* max-width: 100%; */
  /* width: 30%; */
  /* position: absolute; */
  /* top: -20%; */
  /* top: 0; */
  /* right: 20%; */
  /* right: 0; */
  /* width: auto; */
  /* width: 100%; */
  max-width: 650px;
  margin: auto;
  /* height: 100%; */
  /* height: 140%; */
  /* clip-path: url("#mask-3"); */
  /* z-index: -2; */
  /* z-index: -1; */
}

@media screen and (min-width: 1000px) {
  .header-section .image {
      /* top: 0; */
      position: absolute;
      /* top: -20%; */
      top: 0;
      /* right: 20%; */
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
  }
}

@media screen and (max-width: 680px) {
  .header-section .image {
    /* top: -10%; */
    /* height: 120%; */
  }
}

/* .raids.page-content .header-section .image-mask,  */
/* .equipment.page-content .header-section .image-mask,  */
/* .locations.page-content .header-section .image-mask,  */
.header-section .image-mask {
  /* position: relative; */
  position: absolute;
  /* top: 0; */
  right: 0;
  /* width: 140%; */
  width: 100%;
  /* min-width: min(90vw, 30rem); */
  /* height: 100%; */
  /* transform: translateY(-15%); */
  /* height: 100%; */
  /* clip-path: url("#mask-3"); */
  z-index: -1;
}
/* .raids.page-content .header-section .image-mask::before,  */
/* .equipment.page-content .header-section .image-mask::before,  */
/* .locations.page-content .header-section .image-mask::before,  */
.header-section .image-mask::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  /* transform: translateY(-25%); */
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: red; */
  /* clip-path: url("#mask-1"); */
  /* clip-path: url("#mask-2"); */
  /* clip-path: url("#mask-3"); */
  /* clip-path: url("#mask-4"); */
  z-index: 1;
}

.header-section .image-mask img {
  height: 100%;
  /* object-fit: cover; */
  object-fit: contain;
}

.armor-sets .header-section .image-mask {
  /* position: relative; */
  /* height: auto; */
  /* clip-path: url("#mask-1"); */
}

@media screen and (max-width: 1000px) {
  .header-section .image {
      /* top: 0; */
  }

  .armor-sets .header-section .image-mask {
      /* height: 100%; */
  }
}

.page-content article {
  margin: 3rem 0;
  display: flex;
  gap: 1rem min(10vw, 3rem);
  /* flex-direction: column-reverse; */
}

@media screen and (max-width: 680px) {
  .page-content article {
    flex-direction: column-reverse;
  }
}

.article-content {
  max-width: 1000px;
}

.main-article .article-content {
  flex: 1;
}

@media screen and (min-width: 681px) {
  .article-image {
    max-width: 250px;
    margin: auto auto auto 0;
  }
}

@media screen and (min-width: 800px) {
  .main-article {
    align-items: center;
  }

  .main-article .article-image {
    max-width: 400px;
  }
}

.main-article .basic-stats {
  margin-top: 2rem;
}

.basic-stats li {
  /* padding: 0.5rem 0; */
  font-size: 1.2rem;
}

.vertical-list li {
  padding: 0.5rem 0;
}

#shadow {
  position: relative;
  display: flex;
}
#shadow::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 52%;
  height: 12%;
  background-color: black;
}

.todo {}
.locations .details-btn, 
.armor .details-btn, 
.armor-sets .details-btn, 
.equipment .details-btn {
  margin: 2rem 0;
  font-size: 1.2rem;
}
.locations .details-btn:hover, 
.armor .details-btn:hover, 
.armor-sets .details-btn:hover, 
.equipment .details-btn:hover {
  color: #000;
  background-color: #eee8;
  box-shadow: inset 2px 2px 2px #000, 
            inset -2px -2px 2px #fff;
}


/* todo */
.equipment .header-section, 
.locations .header-section {
  /* position: relative; */
  /* padding-bottom: 10rem; */
  /* isolation: isolate; */
}
.locations .header-section::after {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* content: ""; */
  /* width: 100%; */
  /* height: 100%; */
  /* background-image: url("./img/bg/map-with-compass-other-things-it_962508-27250.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* clip-path: url("#mask-1"); */
  /* clip-path: url("#mask-2"); */
  /* clip-path: url("#mask-3"); */
  /* clip-path: url("#mask-4"); */
  /* z-index: -2; */
}
/* .locations p {
  text-indent: 1rem;
} */
.locations .main-description {
  /* width: 70%; */
  /* margin: auto; */
}


@keyframes titleanimation {
  0%, 20%, 100% {
      width: 0;
      border-right: none;
  }
  1% {
      width: 0;
      border-right: 2px solid rgba(0, 0, 0, 0.7);
  }
  7%, 19% {
      width: 101%;
      border-right: 2px solid rgba(0, 0, 0, 0.7);
  } 
}



.loader {
  border-radius: 50%;
}
/* .logo:focus {
  outline: 1px solid steelblue;
  outline-offset: 8px;
} */

.logo-ring {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}

.logo-ring:nth-child(1) {
  border-top: 3px solid steelblue;
  animation: loaderv321 2s linear infinite;
}
@keyframes loaderv321 {
  0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
  100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}

.logo-ring:nth-child(2) {
  border-right: 3px solid #f00;
  animation: loaderv322 2s linear infinite;
}
@keyframes loaderv322 {
  0% { transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
  100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}

.logo-ring:nth-child(3) {
  border-bottom: 3px solid steelblue;
  animation: loaderv323 2s linear infinite;
}
@keyframes loaderv323 {
  0% { transform: rotateX(35deg) rotateY(65deg) rotateZ(0deg);}
  100% { transform: rotateX(35deg) rotateY(65deg) rotateZ(360deg);}
}

.logo-ring:nth-child(4) {
  position: relative;
  border-left: 3px solid #f00;
  animation: loaderv324 2s linear infinite;
}
@keyframes loaderv324 {
  0% { transform: rotateX(50deg) rotateY(150deg) rotateZ(0deg);}
  100% { transform: rotateX(50deg) rotateY(150deg) rotateZ(360deg);}
}

.logo:focus .logo-ring, 
.logo:hover .logo-ring {
  animation-duration: 1s;
}

.fixed-3d-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  /* padding-top: 5vw; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #000;
  transition: opacity 500ms;
  z-index: 8000;
}

/* .fixed-3d-gallery.hidden { */
  /* visibility: hidden; */
  /* opacity: 0; */
/* } */

.fixed-3d-gallery .slider {
  position: relative;
  /* max-width: 940px; */
  margin: auto;
  /* display: flex; */
  /* gap: 20px; */
  /* justify-content: center; */
  /* border: 1px solid red; */
}

@media screen and (min-width: 650px) {
  .fixed-3d-gallery .slider {
    width: 30%;
    min-width: 600px;
  }
}

.fixed-3d-gallery .slide-image#relative {
  position: relative;
  /* z-index: 3; */
}

.fixed-3d-gallery .slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  /* box-shadow: -2px -2px 2px #fff5, 2px 2px 2px #000; */
  /* width: 30%; */
  /* flex-shrink: 0; */
  /* transform: translateX(-20%) scale(0.4); */
  transform: translateX(0%) scale(0.4);
  transition: transform 500ms, opacity 500ms;
  /* transition: transform 15000ms, opacity 1500ms; */
  /* opacity: 0; */
  opacity: 0;
  z-index: 0;
}

/* .slide-image.hidden { */
  /* transform: translateX(0%) scale(0.4); */
  /* opacity: 0; */
  /* z-index: 1; */
/* } */

.fixed-3d-gallery .left {
  transform: translateX(-100%) scale(0.7);
  opacity: 1;
  z-index: 2;
}

.fixed-3d-gallery .middle {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 3;
}

.fixed-3d-gallery .right {
  transform: translateX(100%) scale(0.7);
  opacity: 1;
  z-index: 1;
}

.fixed-3d-gallery #close-btn {
  margin: 1vw 1vw auto auto;
  padding: 0.8em 0.4em 1em;
  color: #fff;
  font-size: 3rem;
  /* font-family: Georgia, serif; */
  line-height: 0;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: transparent;
  transform: scaleY(0.7);
  transition: color 500ms, 
  background-color 500ms;
  /* cursor: pointer; */
}

.fixed-3d-gallery #close-btn:hover {
  color: #000;
  background-color: #fff;
}

.fixed-3d-gallery .arrows {
  /* position: absolute; */
  /* top: 80%; */
  /* right: 52%; */
  position: relative;
  /* width: 30%; */
  /* max-width: 300px; */
  padding: 3vh 3vw;
  display: flex;
  gap: 10px;
  /* align-items: center; */
  z-index: 100;
}

.fixed-3d-gallery .arrows button {
  /* width: 40px; */
  /* height: 40px; */
  color: #fff;
  font-size: 0px;
  font-weight: bold;
  font-family: initial;
  line-height: 0;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #eee4;
  transition: color 500ms, 
  background-color 500ms;
  /* cursor: pointer; */
}

.fixed-3d-gallery .arrows button i {
  font-size: 3rem;
}
.fixed-3d-gallery .arrows button#prev i {
  padding: 0.36em 0.6em 0.36em 0.48em;
}
.fixed-3d-gallery .arrows button#next i {
  padding: 0.36em 0.48em 0.36em 0.6em;
}

.fixed-3d-gallery .arrows button:hover {
  color: #000;
  background-color: #fff;
}

.gallery-section p {
  display: inline-block;
  margin-top: 4rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  /* border-top: 1px solid gray; */
}

.gallery-section .details-btn {
  margin: 1rem 0 2rem;
  padding: 0.6em 1em;
}

.navigation {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 230px;
  margin: auto;
  padding: 1.2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #07070a;
  backdrop-filter: blur(4px);
  z-index: 50;
}

.navigation ul {
  display: flex;
  gap: 25px;
  font-weight: 600;
}

.navigation ul a {
  padding: 0.5em 1em;
  color: #f9f9f9;
  border: 1px solid;
  transition: color 300ms, 
    background-color 300ms;
}

.navigation ul a:hover {
  color: #000;
  background-color: #f9f9f9;
}

@media (max-width: 480px) {
  .navigation {
    width: 200px;
    margin-left: 50px;
    z-index: 100;
  }
}

/* .navigation {
  max-width: 1800px;
  margin: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  color: #000;
  padding: 1rem;
  background-color: #cdfab8;
}

.navbar-logo h2 {
  font-size: 1.5rem;
}

.links ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.links ul li a {
  padding: 0.5em 1em;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  transition: color 300ms;
}

.links ul li a:hover {
  color: #4cbb17;
}

.nav-btn a {
  padding: 1rem 3rem;
  color: #fff;
  font-weight: 600;
  border: 1px solid;
  border-radius: 30px;
  background-color: #4cbb17;
  transition: color 300ms, 
    background-color 300ms;
}

.nav-btn a:hover {
  color: #000;
}

.toggle {
  display: none;
}

.navigation.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  padding: 0.8rem;
  background-color: #eee;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  z-index: 1000;
}

.navigation.active .nav-btn a {
  background-color: #000;
}

.navigation.active .nav-btn:hover a {
  color: #4cbb17;
  background-color: #eee;
}

@media screen and (max-width: 480px) {
  .navbar-logo h2 {
    margin-left: -60px;
  }

  .navigation .link, 
  .nav-btn button {
    display: none;
  }

  .navigation .nav-links {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
    z-index: 888;
  }

  .navigation ul li {
    width: 100%;
    margin-top: 50px;
    color: #4cbb17;
    font-size: 24px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
  }

  .navigation .toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    background-color: #000;
    z-index: 999;
  }

  .close {
    right: 45%;
  }

  .navigation.active {
    padding: 0.9rem;
  }

  .navigation.active .toggle {
    top: 10px;
    right: 40px;
    background-color: transparent;
  }
} */

.hero {
  position: relative;
  max-width: 1800px;
  /* width: 100%; */
  /* height: 100vh; */
  margin: auto;
  padding: 5rem 1rem;
  display: grid;
  /* place-items: center; */
  /* justify-content: center; */
  color: #000;
  /* background-color: #cdfab8; */
}

.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 50%;
  background-color: #cdfab8;
  z-index: -1;
}

.hero::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: -2;
}

.media-container {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* height: 100%; */
  position: relative;
  margin: auto;
  /* border: 1px solid red; */
}

.media-container .invest {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 5px 5px 8px rgba(138, 129, 129, 0.5);
}

.media-container .invest:nth-child(2) {
  /* top: 18rem; */
  top: 50%;
  /* left: 11rem; */
  left: 0;
}

.media-container .invest:nth-child(3) {
  /* top: 12rem; */
  top: 0;
  /* left: 28rem; */
  left: 30%;
  transform: translateY(130%);
}

.media-container .invest:nth-child(4) {
  /* left: 44rem; */
  left: 60%;
  bottom: 0;
  transform: translateY(-100%);
}

.media-container>div:nth-child(5) {
  /* top: 14rem; */
  top: 50%;
  right: 0;
  /* left: 63rem; */
  transform: translate(30%, -100%);
}

.hero .hero-header {
  /* margin-top: 20px; */
  color: #000;
  font-size: 275px;
  font-weight: 400;
  /* font-family: "Bebas Neue", sans-serif; */
  text-align: center;
  /* font-style: normal; */
}

.hero .hero-img {
  max-width: 1600px;
  /* height: 550px; */
  /* margin-top: -30px; */
  margin: auto;
  border-radius: 20px;
}

.hero-bottom-header {
  margin-top: 3rem;
  font-size: 140px;
  font-weight: 400;
  text-align: center;
  /* font-style: normal; */
  /* font-family: "Bebas Neue", sans-serif; */
}

.hero-txt {
  text-align: center;
}

@media (max-width: 480px) {
  .hero {
    /* width: 100%; */
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
  }

  .hero .hero-header {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
  }

  .hero p {
    /* margin-top: 10px; */
    color: #666;
    font-size: 14px;
    text-align: center;
  }

  .hero .btns {
    margin-top: 15px;
    display: flex;
    gap: 10px;
  }

  .hero .btns button {
    padding: 0.2rem 1rem;
  }

  .hero .hero-img {
    width: 300px;
    height: 200px;
    margin-top: 40px;
    border-radius: 20px;
    /* place-content: center; */
  }
}

.insight {
  /* width: 100%; */
  /* height: 40px; */
  max-width: 1800px;
  /* margin-top: 32rem; */
  margin: 3rem auto;
  padding: 3rem 1rem;
  border: 1px solid #cdfab8;
}

.insight-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.insight-list h2 {
  font-size: 55px;
}

.insight-container hr {
  width: 50px;
  border: 2px solid #4cbb17;
  transform: rotate(90deg);
}

.insight-container p {
  font-size: 18px;
  text-align: center;
}

.about {
  max-width: 1800px;
  /* height: 120vh; */
  /* margin-top: 100px; */
  margin: auto;
  padding: 5rem 3rem;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  color: #000;
  background-color: #cdfab8;
}

.left-about,
.right-about {
  margin-top: 50px;
}

.about .left-about {
  max-width: 700px;
  /* height: 720px; */
  /* object-fit: contain; */
  /* border-radius: 30px; */
  /* clip-path: url("#mask-1"); */
  /* clip-path: url("#mask-2"); */
  /* clip-path: url("#mask-3"); */
  clip-path: url("#mask-4");
}

.right-header {
  margin-bottom: 15px;
  font-size: 3rem;
}

.right-about p {
  font-size: 20px;
}

.list-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.list-container:first-of-type {
  margin-top: 2rem;
}

.list-container:last-of-type {
  margin-bottom: 2rem;
}

.list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon {
  color: #4cbb17;
  font-size: 34px;
}

.right-about button {
  /* margin-top: 3rem; */
  margin-left: 4rem;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  /* border: none; */
  background-color: #4cbb17;
}

@media screen and (max-width: 480px) {
  .about {
    /* margin-top: 110rem; */
    padding-inline: 50px;
    display: grid;
    place-items: center;
  }

  .right-about {
    margin-top: -55px;
  }

  .about .left-about img {
    display: none;
  }

  .right-header {
    font-size: 2rem;
  }

  .right-about p {
    font-size: 16px;
  }
}

.services {
  max-width: 1800px;
  /* height: 70vh; */
  /* margin-top: 20px; */
  margin: 3rem auto;
  padding: 3rem 0;
  border: 1px solid #cdfab8;
}

.service-header,
.text {
  text-align: center;
}

.text {
  font-size: 18px;
}

.service-header {
  margin-bottom: 5px;
  /* font-size: 35px; */
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Bebas Neue", sans-serif; */
}

.service-container {
  /* height: 60vh; */
  margin-top: 60px;
  padding-inline: 2%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.service-list {
  /* height: 350px; */
  /* padding-inline: 20px; */
  /* padding-top: 30px; */
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-list:nth-child(1) {
  color: #fff;
  background-color: #4cbb17;
  box-shadow: 6px 6px #666;
}

.service-list:nth-child(1) .service-icon {
  background-color: #fff;
}

.service-list:nth-child(1) .icon {
  color: #4cbb17;
  animation: float-icon 3s ease-in-out infinite;
}

@keyframes float-icon {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.service-list:hover {
  color: #000;
  background-color: #f9f9f9;
  box-shadow: 6px 6px #666;
}

.service-list .service-icon {
  display: inline-block;
  /* width: 45px; */
  /* height: 40px; */
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  background-color: #4cbb17;
}

.service-icon .icon {
  margin-top: -1.5px;
  color: #fff;
  font-size: 2.6rem;
  transition: transform 0.5s ease-in-out;
}

.service-list:hover .icon {
  transform: rotateY(360deg);
}

.service-list h2 {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 600;
  text-align: start;
}

.service-list p {
  margin-top: 20px;
  font-size: 17px;
}

@media screen and (max-width: 480px) {
  .services {
    /* height: 150vh; */
  }

  .service-container {
    grid-template-columns: 1fr;
  }
}

.resource {
  max-width: 1800px;
  /* height: 100vh; */
  /* margin-top: 100px; */
  margin: auto;
  /* padding-inline: 100px; */
  padding: 8rem 1rem 5rem;
  display: flex;
  gap: 40px;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  color: #000;
  background-color: #cdfab8;
}

.left-resource,
.right-resource {
  /* margin-top: 50px; */
}

.resource .left-resource, 
.resource .right-resource {
  max-width: 700px;
  /* height: 520px; */
  /* margin: auto; */
  /* object-fit: contain; */
}

.right-header {
  margin-bottom: 1rem;
  /* font-size: 5rem; */
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Bebas Neue", sans-serif; */
}

.right-resource p {
  font-size: 20px;
}

.right-resource .right-container {
  display: flex;
  flex-direction: column;
}

.right-resource .right {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.right-resource .right h2 {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  /* font-family: "Bebas Neue", sans-serif; */
}

.right-resource button {
  margin-top: 2rem;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  /* border: none; */
  background-color: #4cbb17;
}

@media screen and (max-width: 480px) {
  .resource {
    /* margin-top: 110rem; */
    /* padding-inline: 50px; */
    display: grid;
    place-items: center;
  }

  .right-resource {
    margin-top: -55px;
  }

  .resource .left-resource img {
    display: none;
  }

  .right-header {
    font-size: 2rem;
  }

  .right-resource p {
    font-size: 16px;
  }
}

.blog {
  max-width: 1800px;
  margin: 3rem auto;
  padding: 5rem 1rem 3rem;
  /* display: grid; */
  /* place-items: center; */
  border: 1px solid #cdfab8;
}

.blog h2,
.blog p {
  text-align: center;
}

.blog-content {
  padding: 3rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  /* flex-direction: row; */
  /* cursor: pointer; */
}

.blog-list {
  max-width: 320px;
  /* height: 530px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.blog-list img {
  flex: 1;
  max-width: 320px;
  /* height: 380px; */
  object-fit: cover;
  /* border-radius: 10px; */
  clip-path: url("#mask-1");
  /* clip-path: url("#mask-2"); */
  /* clip-path: url("#mask-3"); */
  /* clip-path: url("#mask-4"); */
}

.blog-list h3,
.blog-list p {
  margin-top: 10px;
  text-align: start;
}

.blog-list h3 {
  font-size: 24px;
}

.blog-list p {
  color: #666;
}

.blog-list button {
  /* margin-top: 1rem; */
  margin: 1rem auto 0 0;
  padding-bottom: 0.5rem;
  color: #eee;
  font-size: 18px;
  /* border: none; */
  border-bottom: 2px solid green;
  /* background-color: #fff; */
}

.footer {
  max-width: 1800px;
  margin: auto;
  padding: 6rem 4rem 1.25rem;
  display: flex;
  gap: 30px;
  flex-direction: column;
  color: #000;
  background-color: #cdfab8;
}

.footer-top {
  padding: 2rem 0;
  /* display: grid; */
  /* gap: 30px; */
  /* place-content: center; */
}

.footer-top h2 {
  font-size: 40px;
  text-align: center;
}

.footer-top p {
  margin: 1rem 0 2rem;
  color: #555;
  font-size: 18px;
  text-align: center;
}

.footer-top .input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input input {
  width: 40rem;
  /* height: 2.5rem; */
  padding: 16px;
  font-size: 24px;
  font-family: inherit;
  border-radius: 30px;
  border: none;
  background-color: #fff;
}

.input button {
  /* margin-left: -100px; */
  padding: 14px 28px;
  color: #fff;
  font-size: 24px;
  /* border: none; */
  border-radius: 30px;
  background-color: #4cbb17;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-right ul {
  display: flex;
  gap: 15px;
}

.footer-right ul li {
  font-size: 18px;
}

.footer-left h2 {
  font-size: 28px;
}

.socials {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.socials .social-icon {
  font-size: 20px;
}

.footer .copy {
  font-size: 18px;
  text-align: center;
}