@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Josefin+Sans:wght@300;400;600&family=Limelight&family=Lobster&family=Montserrat:wght@300;400;600&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;700;800&family=Raleway:ital,wght@0,400;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Kaushan+Script&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Brawler:wght@400;700&family=Croissant+One&family=Ephesis&family=Gloock&family=Hurricane&family=Imbue:opsz,wght@10..100,100..900&family=Modak&family=Montez&family=Prosto+One&family=Rye&family=Shojumaru&family=Young+Serif&family=ZCOOL+XiaoWei&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:wght@400;500;600&display=swap");

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold: #897859;
  --gothic-font: "Planewalker", sans-serif;
}

ul {
  list-style: none;
}

.bulled {
  list-style: inside circle;
  padding-left: 1rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: 0px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

button:focus-visible, 
a:focus-visible {
  outline: 1px solid #999;
}

.link {
  display: inline;
  color: #f1683a;
}

a.not-active {
  color: red;
  font-weight: bold;
  cursor: text;
}
a.not-active:hover {
  color: #fff;
  background-color: red;
}

img {
  width: 100%;
}

.svg {
  /* display: none; */
  position: absolute;
  width: 0;
  height: 0;
}

.mask-1 {
  clip-path: url("#mask-1");
}
.mask-2 {
  clip-path: url("#mask-2");
}
.mask-3 {
  clip-path: url("#mask-3");
}
.mask-4 {
  clip-path: url("#mask-4");
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.body {
  /* min-height: 100vh; */
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Great Vibes', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Limelight', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Fraunces', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Lemon', cursive;
  font-family: "Lora", serif;
  font-family: "Croissant One", serif;
  font-family: "Shojumaru", system-ui;
  font-family: "Montez", cursive;
  font-family: "Modak", system-ui;
  font-family: "Prosto One", sans-serif;
  font-family: "Young Serif", serif;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-family: "Brawler", serif;
  font-family: "Gloock", serif;
  font-family: "Ephesis", cursive;
  font-family: "Platypi", serif;
  font-family: "Patua One", serif;
  font-family: "Rye", serif;
  font-family: "Arizonia", cursive;
  font-family: "Imbue", serif;  
  font-family: 'Kaushan Script', cursive;
  font-family: "Hurricane", cursive;
  font-family: Georgia, serif;
  line-height: 1.6;
  background-color: #080a0c;
}

/* @media screen and (min-aspect-ratio: 16/9) {
  body {
    background-position: top center;
    background-size: contain;
  }
} */

.dark-bg {
  background-color: #18293d;
}

.btn {
  display: inline-block;
  margin: 2rem 0;
  padding: 0.6em 1.4em;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 2em;
  border: 1px solid #fff;
  transition: all 500ms;
}
.btn:hover {
  color: #f1683a;
  border: 1px solid #f1683a;
}

.details-btn {
  margin-top: 3rem;
  padding: 0.4em 1.4em;
  color: #fff;
  font-size: 2rem;
  /* font-weight: 500; */
  font-family: inherit;
  text-transform: capitalize;
  border-radius: 2em;
  border: 1px solid #eee;
  background-color: transparent;
  transition: all 400ms;
  cursor: pointer;
}
.details-btn:hover {
  color: #000;
  background-color: #eee8;
  box-shadow: inset 2px 2px 2px #000, 
            inset -2px -2px 2px #fff;
}

.big-fs {
  font-size: 4rem;
}

.cursive {
  font-family: "Arizonia", cursive;
}

.gold {
  color: transparent;
  background: linear-gradient(0deg, rgb(174 144 46), rgb(255, 232, 155), rgb(174, 144, 46));
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: text;
  background-clip: text;
}

.silver {
  color: transparent;
  background-color: rgb(130, 174, 185);
  background: linear-gradient(0deg, rgb(130, 174, 185), rgb(228 231 232), rgb(130, 174, 185));
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: text;
  background-clip: text;
}

.decor-1 {
  /* position: relative; */
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
.decor-1::before, 
.decor-1::after {
  display: inline-block;
  /* position: absolute; */
  /* top: 50%; */
  content: "";
  width: 3rem;
  height: 2px;
}
.decor-1::before {
  right: 100%;
}
.decor-1::after {
  left: 100%;
}

.silver.decor-1::before, 
.silver.decor-1::after {
  background-color: rgb(228, 231, 232);
}

.page {
  /* min-height: 100vh; */
  /* background-color: green; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}

.page.full-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page.full-screen main {
  flex: 1;
  display: flex;
  width: 100%;
  max-width: 100%;
}

.main-description {
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.1rem;
  text-align: center;
}

/* .main-description h1 {} */

.main-description p {
  margin-bottom: 2rem;
}

.slide {
  /* flex: 1; */
  position: absolute;
  /* max-width: 34%; */
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* border: 1px solid red; */
  transition: clip-path 500ms ease;
  overflow: hidden;
}

.slide:hover {
  z-index: 2;
}

.relative {
  position: relative;
  height: auto;
}

.slide img {
  display: block;
  width: 40%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0; */
  transition: width 500ms ease;
}

.slide:hover img {
  width: 55%;
}

.slide:nth-child(2) img {
  width: 50%;
  margin: auto;
}
.slide:nth-child(2):hover img {
  width: 70%;
  margin: auto;
}
.slide:nth-child(3) img {
  margin-left: auto;
  object-position: 80% center;
}

.slide:nth-child(1) {
  /* display: none; */
  clip-path: polygon(0% 0%, 40% 0%, 25% 100%, 0% 100%);
  /* background-color: red; */
}
.slide:nth-child(1):hover {
  clip-path: polygon(0% 0%, 55% 0%, 40% 100%, 0% 100%);
}
.slide:nth-child(2) {
  clip-path: polygon(40% 0%, 75% 0%, 60% 100%, 25% 100%);
  /* background-color: blue; */
  /* z-index: -1; */
}
.slide:nth-child(2):hover {
  clip-path: polygon(30% 0%, 85% 0%, 70% 100%, 15% 100%);
}
.slide:nth-child(3) {
  /* display: none; */
  clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 60% 100%);
  /* background-color: burlywood; */
}
.slide:nth-child(3):hover {
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 45% 100%);
}

.content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 30%;
  /* margin: auto; */
  /* border: 1px solid black; */
  text-align: center;
  transform: translateY(100%);
  transition: opacity 800ms ease-in, 
            transform 800ms ease-in;
  opacity: 0;
}

.slide:nth-child(2) .content {
  /* left: 0; */
  /* right: 0; */
  margin: auto;
}
.slide:nth-child(3) .content {
  /* left: 0; */
  /* right: 0; */
  margin-left: auto;
}

/* .slide:hover {
  z-index: 2;
} */
.slide:hover .content {
  transform: translateY(0%);
  opacity: 1;
}

.content h1 {
  font-size: 5rem;
  text-transform: capitalize;
}

.content a {
  padding: 0.2em 1.4em;
  color: #fff;
  font-size: 1.6rem;
  text-transform: capitalize;
  border-radius: 2em;
  border: 1px solid #fff;
  transition: opacity 400ms ease, 
      background-color 400ms ease;
  transition-delay: 1s, 0s;
  opacity: 0;
}
.content a:hover {
  background-color: #000;
}

.slide:hover a {
  opacity: 1;
}

main.max-width {
  width: 100%;
  max-width: 2400px;
  margin: auto;
}

/* .page-header {
  text-align: center;
} */

.header-content {
  /* width: 96%; */
  max-width: 60%;
  /* max-width: 100rem; */
  /* margin: 0 auto; */
  margin: 0 auto 0 2vw;
  padding: 3rem 0;
}

/* Overview */
.header-content h1 {
  margin: 1rem 0 3rem;
  font-size: 4rem;
}

.details-content h2 {
  margin: 3rem 0 1rem;
  /* text-indent: 1rem; */
  font-size: 2.2rem;
  border-bottom: 1px solid gray;
}

.details-content h3 {
  display: inline-block;
  margin: 2rem 0 1rem;
  /* text-indent: 1rem; */
  font-size: 1.6rem;
  border-bottom: 1px solid gray;
}

.details-content p {
  margin: 1rem 0;
}

.page-content {
  width: 96%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 3rem 0;
}
  
.page-content h1 {
  /* margin: 1rem 0 1rem; */
  /* font-size: 4rem; */
}
  
/* .page-content h2 {
  margin: 3rem 0 1rem;
  text-indent: 1rem;
  font-size: 2.2rem;
  border-bottom: 1px solid gray;
}   */



.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}



.todo {}
.locations .header-content, 
.equipment .header-content, 
.armor-sets .header-content, 
.armor .header-content {
  max-width: 90%;
  display: flex;
  gap: 2rem;
}

.todo {}
.raids h1, 
.locations h1, 
.equipment h1, 
.armor-sets h1, 
.armor h1 {
  margin: 2rem 0;
  font-size: 4rem;
  text-align: center;
}


.raids.page-content .header-section .image, 
.equipment.page-content .header-section .image, 
.locations.page-content .header-section .image {
  position: relative;
  /* max-width: 100%; */
  width: 30%;
  /* position: absolute; */
  /* right: 20%; */
  /* width: auto; */
  /* height: 140%; */
  /* clip-path: url("#mask-3"); */
  /* z-index: -2; */
  z-index: -1;
}
.raids.page-content .header-section .image-mask, 
.equipment.page-content .header-section .image-mask, 
.locations.page-content .header-section .image-mask {
  position: absolute;
  top: 0;
  right: 0;
  width: 140%;
  min-width: min(90vw, 30rem);
  transform: translateY(-15%);
  /* height: 100%; */
  clip-path: url("#mask-3");
  z-index: -1;
}
.raids.page-content .header-section .image-mask::before, 
.equipment.page-content .header-section .image-mask::before, 
.locations.page-content .header-section .image-mask::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  /* transform: translateY(-25%); */
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: red; */
  /* clip-path: url("#mask-1"); */
  /* clip-path: url("#mask-2"); */
  /* clip-path: url("#mask-3"); */
  /* clip-path: url("#mask-4"); */
  z-index: 1;
}

article {
  display: flex;
  gap: min(10vw, 3rem);
}
.article-content {
  max-width: 1000px;
}
.article-image {
  max-width: 200px;
  margin: auto auto auto 0;
}

.todo {}
.locations .details-btn, 
.armor .details-btn, 
.armor-sets .details-btn, 
.equipment .details-btn {
  margin: 2rem 0;
  font-size: 1.2rem;
}
.locations .details-btn:hover, 
.armor .details-btn:hover, 
.armor-sets .details-btn:hover, 
.equipment .details-btn:hover {
  color: #000;
  background-color: #eee8;
  box-shadow: inset 2px 2px 2px #000, 
            inset -2px -2px 2px #fff;
}


/* todo */
.equipment .header-section, 
.locations .header-section {
  /* position: relative; */
  padding-bottom: 10rem;
  isolation: isolate;
}
.locations .header-section::after {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* content: ""; */
  /* width: 100%; */
  /* height: 100%; */
  /* background-image: url("./img/bg/map-with-compass-other-things-it_962508-27250.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* clip-path: url("#mask-1"); */
  /* clip-path: url("#mask-2"); */
  /* clip-path: url("#mask-3"); */
  /* clip-path: url("#mask-4"); */
  /* z-index: -2; */
}
/* .locations p {
  text-indent: 1rem;
} */
.locations .main-description {
  width: 70%;
  margin: auto;
}


@keyframes titleanimation {
  0%, 20%, 100% {
      width: 0;
      border-right: none;
  }
  1% {
      width: 0;
      border-right: 2px solid rgba(0, 0, 0, 0.7);
  }
  7%, 19% {
      width: 101%;
      border-right: 2px solid rgba(0, 0, 0, 0.7);
  } 
}



.loader {
  border-radius: 50%;
}
/* .logo:focus {
  outline: 1px solid steelblue;
  outline-offset: 8px;
} */

.logo-ring {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}

.logo-ring:nth-child(1) {
  border-top: 3px solid steelblue;
  animation: loaderv321 2s linear infinite;
}
@keyframes loaderv321 {
  0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
  100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}

.logo-ring:nth-child(2) {
  border-right: 3px solid #f00;
  animation: loaderv322 2s linear infinite;
}
@keyframes loaderv322 {
  0% { transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
  100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
}

.logo-ring:nth-child(3) {
  border-bottom: 3px solid steelblue;
  animation: loaderv323 2s linear infinite;
}
@keyframes loaderv323 {
  0% { transform: rotateX(35deg) rotateY(65deg) rotateZ(0deg);}
  100% { transform: rotateX(35deg) rotateY(65deg) rotateZ(360deg);}
}

.logo-ring:nth-child(4) {
  position: relative;
  border-left: 3px solid #f00;
  animation: loaderv324 2s linear infinite;
}
@keyframes loaderv324 {
  0% { transform: rotateX(50deg) rotateY(150deg) rotateZ(0deg);}
  100% { transform: rotateX(50deg) rotateY(150deg) rotateZ(360deg);}
}

.logo:focus .logo-ring, 
.logo:hover .logo-ring {
  animation-duration: 1s;
}


body {
  /* min-height: 100vh; */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  /* background-color: #efefef; */
}

#root {
  flex-grow: 1;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.body {
  width: 100%;
  /* max-width: 800px; */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.Header, .Footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #66d8f5;
}

.Header h1 {
  font-size: 1.5rem;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}

.Nav {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #333;
}

.searchForm {
  width: 80%;
  padding: 1rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  width: 100%;
  min-height: 48px;
  /* padding: 0.25rem; */
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.25rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav ul {
  list-style-type: none;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 1rem;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #fff;
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  color: #333;
  background-color: #eee;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}

/* .Home, .NewPost, .PostPage, .About, .Missing { */
  main {
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
  color: #000;
  overflow-y: auto;
  background-color: #fff;
}

.post {
  display: block;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.Home .post a {
  text-decoration: none;
}

.Home .post a, 
.Home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.postBody {
  margin: 1rem 0;
}

.newPostForm {
  display: flex;
  flex-direction: column;
}

.newPostForm label {
  margin-top: 1rem;
}

.newPostForm input[type='text'], 
.newPostForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  margin-right: 0.25rem;
  color: #000;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  border: revert;
  outline: none;
}

.newPostForm textarea {
  height: 100px;
}

.newPostForm button {
  /* height: 48px; */
  min-width: 48px;
  margin-top: 1rem;
  padding: 0.5rem;
  color: initial;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
}

.editButton {
  display: inline;
  min-width: 48px;
  /* height: 48px; */
  padding: 0.5rem;
  color: #efefef;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #333;
  cursor: pointer;
}

.Missing h2, .PostPage h2, 
.Missing p, .PostPage p {
  margin-bottom: 1rem;
}

.PostPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  /* html {
    font-size: 22px;
  } */

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover, 
  .Nav li:focus, 
  .Nav li:hover a, 
  .Nav li:focus a  {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: .5rem 0;
  }
 
  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newPostForm textarea {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }

}

#pokemons {
  flex: 1;
  width: 100%;
  text-align: center;
}

#pokemons h1 {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

#pokemons h3 {
  font-size: 1.2rem;
  /* margin-bottom: 2rem; */
  /* border-bottom: 3px dotted gray; */
}

#pokemons ul {
  padding: 2rem 0;
  display: grid;
  gap: min(2rem, 2vw);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

#pokemons input {
  font-size: 1.2rem;
  font-family: inherit;
  outline: none;
}

#pokemons input:focus-visible {
  border: 1px solid transparent;
  box-shadow: inset 1px 1px 1px #000, 
          inset -1px -1px 1px #fff5;
}

.pokemon-box {
  padding-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 1px 1px 1px #000,
          -1px -1px 1px #fff5;
}

.pokemon-box img {
  max-width: 60%;
  /* margin: auto; */
}