.header.cloud-page:before {
    background-image: url('../../images/cloud-bg.png');
}

.cloud .content {
    width: 50%;
    padding: 5rem 2% 10rem;
}

.header.cloud-page .content {
    padding: 10rem 2% 15rem;
}

.cloud h2 {
    color: #f8f8f8;
}

.cloud p {
    margin: 1rem 0;
    color: #f8f8f8;
}

@media screen and (max-width: 940px) {
    .cloud .content {
        left: 0;
        width: 100%;
    }
}