.auth-page .page-content {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 22rem;
    margin: auto;
    transform-style: preserve-3d;
}

@media (min-width: 33.75rem) {
    .wrapper {
        width: 40rem;
    }
}

.form-container {
    width: 100%;
    max-width: 21.25rem;
    padding: 1rem 0 2rem;
    text-align: center;
    border-radius: 12px;
    /* border: 1px solid #fff; */
    background-color: #18293d;
    box-shadow: 2px 2px 5px #0004, 
            -2px -2px 2px #fff2;
}

.form-container.login {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* display: flex; */
}

.form-container h1 {
    font-size: 2rem;
    /* text-align: center; */
    text-transform: capitalize;
}

label {
    display: block;
    width: 90%;
    margin: 1rem auto;
}

input {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    color: #fff;
    border-radius: 2em;
    border: 1px solid #fff5;
    outline: 0px solid #fff;
    background-color: transparent;
}

input:focus-visible {
    outline: 1px solid #fff;
}

form button {
    margin: 1rem 0;
    padding: 0.4em 1.6em;
    color: #fff;
    font-size: 1.2rem;
    font-family: inherit;
    text-transform: capitalize;
    border-radius: 2em;
    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: 2px 2px 2px #0006, 
            -2px -2px 2px #fff4;
    transition: all 500ms;
    cursor: pointer;
}

form button:focus-visible {
    outline: 1px solid #fff4;
}

form button:hover {
    color: #5a91cf;
    /* border-color: #fff; */
}

form button:active {
    box-shadow: inset 2px 2px 2px #0006,
             inset -2px -2px 2px #fff4;
}

.forgot {
    margin-top: 1.5rem;
    /* text-align: center; */
}

.forgot a {
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    transition: color 500ms ease;
}

.forgot a:hover {
    color: #5a91cf;
}

.redirect {
    /* margin-top: 1rem; */
    width: 90%;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
}

.redirect a {
    padding: 0.2em 0.4em;
    color: #fff;
    /* color: var(--main-color); */
    font-size: 1rem;
    font-weight: 600;
    transition: color 500ms ease;
}

.redirect a:hover {
    color: #5a91cf;
}

/* .login {
    transform: rotate(7deg);
} */

.flip-left {
    animation: flip-left 1s ease both;
}

.flip-right {
    animation: flip-right 1s ease both;
}

.move-forward {
    animation: move-forward 1s ease both;
}

@keyframes flip-left {
    0% {
        transform: translateX(0) rotate(0) translateZ(1px);
    }

    50% {
        transform: translateX(-100%) rotate(0);
    }

    100% {
        transform: translateX(0) rotate(7deg) translateZ(0px);
    }
}

@keyframes flip-right {
    0% {
        transform: translateX(0) rotate(0) translateZ(1px);
    }

    50% {
        transform: translateX(100%) rotate(0);
    }

    100% {
        transform: translateX(0) rotate(7deg) translateZ(0px);
    }
}

@keyframes move-forward {
    0% {
        transform: rotate(7deg) translateZ(0px);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg) translateZ(1px);
    }
}

.error {
    position: absolute;
    top: 3px;
    right: 1rem;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 12px;
    background-color: #18293d;
    box-shadow: 2px 2px 3px #0004, 
            -2px -2px 3px #fff2;
}

/* h1 {
    width: 100%;
    padding: 5rem;
    text-align: center;
}

.auth-page main {
    flex-wrap: wrap;
    flex-direction: column;
}

form {
    margin: auto;
}

label {
    margin: 0;
}

form div {
    margin: 2rem;
} */