.race .main-article .article-content {
    max-width: 700px;
}

.race .main-article .article-image {
    flex: 1;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .page-content.race .main-article {
        flex-direction: column-reverse;
    }

    .race .main-article .article-content {
        margin-right: auto;
    }

    .race .main-article .article-image {
        margin: auto;
    }
}