.main-content {
    width: 100%;
    padding: 1rem 2% 2rem;
}

.filter {
    padding: 1rem 0;
}

.dropdown-btn {
    color: #eee;
    font-size: 2rem;
}

.dropdown-btn i {
    transform: rotate(90deg);
    margin-right: 0.5rem;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #080a0c;
}

.dropdown .price-btn {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5em 1em;
    color: #eee;
    font-size: 1rem;
    border: 1px solid #eee;
}

.products {
    padding: 1rem 0;
    display: grid;
    gap: 3vh 2%;
    grid-template-columns: 
        repeat(auto-fit, minmax(440px, 1fr));
}

.product {
    padding: 2rem 1rem;
    border-radius: 12px;
    border: 1px solid #555;
    box-shadow: 2px 2px 2px #000, 
            -2px -2px 2px #fff5;
}

.product a {
    color: #eee;
}

.product img {
    margin-bottom: 2rem;
}

.product h2 {
    margin-bottom: 1rem;
}

.product p {
    font-size: 1.2rem;
}

.pagination {
    padding-top: 4vh;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.page-btn {
    margin: 0.5rem;
    padding: 0.8em 1em;
    color: #888;
    font-size: 1.4rem;
    border: 1px solid #555;
    vertical-align: middle;
}

.page-btn.active {
    /* padding: 1em; */
    color: #080a0c;
    background-color: #eee;
}

.change-page-btn {
    padding: 0.8em 1em;
    color: #fff;
    font-size: 1.6rem;
    border: 1px solid #fff;
}

.loader {
    margin: auto;
    border-radius: 50%;
}

/* .logo:focus {
    outline: 1px solid steelblue;
    outline-offset: 8px;
} */

.logo-ring {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}

.logo-ring:nth-child(1) {
    border-top: 3px solid steelblue;
    animation: loaderv321 2s linear infinite;
}

@keyframes loaderv321 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

.logo-ring:nth-child(2) {
    border-right: 3px solid #f00;
    animation: loaderv322 2s linear infinite;
}

@keyframes loaderv322 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

.logo-ring:nth-child(3) {
    border-bottom: 3px solid steelblue;
    animation: loaderv323 2s linear infinite;
}

@keyframes loaderv323 {
    0% {
        transform: rotateX(35deg) rotateY(65deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(65deg) rotateZ(360deg);
    }
}

.logo-ring:nth-child(4) {
    position: relative;
    border-left: 3px solid #f00;
    animation: loaderv324 2s linear infinite;
}

@keyframes loaderv324 {
    0% {
        transform: rotateX(50deg) rotateY(150deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(150deg) rotateZ(360deg);
    }
}

/* .logo:focus .logo-ring,
.logo:hover .logo-ring {
    animation-duration: 1s;
} */